[2016-09-16 05:23] CADbloke opened #5 "How do I get the demo app in the GIF in ReadMe.md?"
Greetings.

Apologies upfront for the noobness of this: I tried the MahApps demo app. I found the [click code-behind for the "Icons" link in the title bar and where it changed](https://github.com/MahApps/MahApps.Metro/commit/477684bd4a3c487d215662518128389e81a62c36#diff-40d1cda2b138001c28772f133a103162)  but all it does now is link to this repo, which is nice but it's not that app.

Reason is, it'

[2016-09-16 05:25] punker76 commented on #5
@CADbloke Hi, I'm currently working on a new demo application where you can search.and copy and maybe some more...

[2016-09-16 05:28] CADbloke commented on #5
Awesome. I'll keep an eye out. I'd offer to help but I think I'd just slow you down. Call on me if you need some weeping or to feed the cat. :)

[2016-09-16 05:28] #5 closed

[2016-09-27 11:36] xxMUROxx opened #8 "Add possibility to have PackIconModernKind.None"
I want to use PackIconModern with Triggers and have a empty image on default. Because the enumeration memeber None is missing, I do not have a empty image but the default value `_3d3ds`.
Can you please implement this to have an empty PackIconXXX?

For now I have to use the workarout with Visibility.Hidden.

[2016-09-29 19:24] punker76 opened #9 "Spinning / Rotation functionality"

[2016-09-29 19:25] punker76 opened #10 "Flip functionality"

[2016-09-29 19:26] punker76 opened #11 "UWP"

[2016-09-29 19:35] punker76 opened #12 "Tiny simple editor"
Add a tiny simple editor to change size, background and foreground and copy the result as Xaml into the clipboard...

[2016-10-01 21:37] #8 closed

[2016-10-06 20:51] punker76 opened #15 "Markup Extension for ContentControl (Button, etc)"

[2016-10-06 21:00] #9 closed

[2016-10-06 21:00] #10 closed

[2016-10-13 10:29] igorushi commented on #15
something like this `<Button Content="{Metro:PackIconMaterial Kind=DotsHorizontal, Width=25, Height=25}"/>` ?

[2016-10-20 21:31] #15 closed

[2016-10-23 11:48] igorushi opened #20 "Enable search in multiple packs."
When I use the browser to find an icon I usually search in multiple icon packs. On each tab I need to enter a search string again. It would be nice to preserve a search term among tabs or maybe have an aggregated "all packs" tab.

[2016-10-25 12:22] khteh opened #22 "'Kind' property was already registered by 'ControlzEx_PackIconBase`1_14_190585527'"
![mahappsiconpacksexception](https://cloud.githubusercontent.com/assets/3871483/19685777/bd9a5a52-9af0-11e6-8256-3661e6f4e241.png)
Any advice and insight is appreciated

[2016-10-25 12:25] punker76 commented on #22
@khteh Can you post your Xaml code of the PackIcon?

[2016-10-25 12:59] punker76 commented on #22
@khteh ?

[2016-10-25 13:44] khteh commented on #22
@punker76, please find attached my .XAML. Thanks.

[2016-10-25 13:45] khteh commented on #22
`<UserControl x:Class="OmniInteger.GUI.View.SessionControl"
             xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
             xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
             xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
             xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
             xmlns:local="clr-names

[2016-10-25 13:48] punker76 commented on #22
@khteh Which version of MahApps.Metro and MahApps.Metro.IconPacks do you use? Which VS version is this?

[2016-10-25 13:50] khteh commented on #22
VS 2015
MahApps.Metro: 1.4.0.0
MahApps.Metro.IconPacks: 1.4.0.0

[2016-10-25 13:59] punker76 commented on #22
@khteh What is your selected solution platform for your app? Is it maybe different to `Any CPU`?

[2016-10-25 14:00] khteh commented on #22
x64. I tried Any CPU but have problem detecting my MS Unit Tests in test explorer.

[2016-10-25 14:04] punker76 commented on #22
@khteh Problem is, that I can't reproduce this issue. I've chatted with another guy with the same problem. I don't really know why this issue happens with different solution platforms, I will investigate it...

[2016-10-25 14:05] khteh commented on #22
I just switched to Any CPU but the same exceptions persist.

[2016-10-25 14:07] punker76 commented on #22
@khteh It's Designer related stuff so you shoudl delete all obj/bin folders and the Designer shadow cache... close VS and start again...

[2016-10-25 14:48] punker76 commented on #20
@igorushi Done in 20a574c9dc0c3c4d9bf0254e212431aa9594ee6c and will be available in 1.5.0

[2016-10-25 14:48] #20 closed

[2016-10-26 02:56] khteh commented on #22
@punker76 That works. Thanks!

[2016-10-26 02:56] #22 closed

[2016-10-26 16:15] Alkalinee opened #24 "Strong name signing the nuget packages"
Hey,
it would be awesome if the nuget packages would be strong name signed (for obvious reasons).

[2016-10-26 16:17] punker76 commented on #24
@Alkalinee Please try this one https://github.com/MahApps/MahApps.Metro.IconPacks#strong-naming

[2016-10-26 17:11] Alkalinee commented on #24
I already tried that and got this runtime exception:
[code]

(Yes, StrongNamer is working, no idea why he wants to find the unsigned assembly. I already tried a rebuild and a another tool: Brutal.Dev.StrongNameSigner, same result)

Anyways, got it working by compiling the project by myself with a strong name, seems like xaml has a problem with afterwards strongnaming.

[2016-10-26 17:11] #24 closed

[2016-10-26 17:31] punker76 commented on #24
@Alkalinee I will check why it's not working later.

[2016-10-28 18:47] punker76 opened #25 "Create a short Wiki"
Create a short Wiki from the already existing README with some simple examples.

[2016-10-30 16:52] amkuchta commented on #25
I can tackle this one, @punker76. It's the least I can do so I don't feel like a free loader :laughing:

[2016-10-31 11:48] #11 closed

[2016-11-01 02:47] amkuchta commented on #25
Three pages up for your review, @punker76 .  I mainly used the same info from the `README.md`, but added a few small touches and broke it out into a few different pages that made sense.  If you want anything changed, let me know.

[2016-11-01 16:39] punker76 commented on #25
@amkuchta Thank you very much! 👍

[2016-11-01 16:39] #25 closed

[2016-11-01 18:44] amkuchta commented on #25
@punker76 not a problem, my pleasure!  It's the least I can do!

[2016-11-02 00:56] amkuchta opened #27 "IconPack in UWP Causes Designer to Fail"
Utilizing the IconPack Nuget package, VS2015 designer crashes and fails to restart.  It is worth noting that the application builds fine - designer is the only item that is having issues.  The error output I am given is as follows:

[code]

The actual issue does not arise until I actually use an icon:

[code]

Simply placing the `using` statement raises no issues.

[2016-11-03 12:16] punker76 commented on #27
@amkuchta I figured out this happens if you select `x64` for the Platform. I got no problems with `x86` or `Any CPU`. Tested with this [sample](https://github.com/punker76/IconPacksTestApp).

[2016-11-03 12:26] punker76 commented on #27
@amkuchta And this is maybe the explanation http://stackoverflow.com/a/5379908/920384

[2016-11-15 13:05] amkuchta commented on #27
Apparently my comment never took... using `x86` solved my issue, I don't know if you want to close this issue or not, given that this is only a work-around, but it appears that the issue is within VS and not `IconPacks` itself.

[2016-11-15 13:06] amkuchta commented on #27
Also (once again), thank you.  Your work is vastly helpful, impressive, and greatly appreciated!

[2016-11-15 17:04] #27 closed

[2016-11-26 08:14] eluchsinger opened #28 "Constructor Error when using MarkupExtension"
I get the following error:

When I try to use the following demo material (using the Markup Extension in WPF):
`<Button Content="{iconPacks:PackIconFontAwesome StarOutline}" />`

My Visual Studio Designer shows an Invalid Markup error message also.

My workaround right now is to use the general ("generic") markup extension:
`Content="{iconPacks:PackIcon  {x:Static iconPacks:PackIconModernKind.Sett

[2016-11-26 08:19] punker76 commented on #28
@eluchsinger Which NuGet package do you use?

[2016-11-26 08:35] eluchsinger commented on #28
The general one, it should be. I will check and report back as soon as possible.

[2016-11-26 08:39] punker76 commented on #28
@eluchsinger This should work (self-tested™ with a clean project). Make sure you use the latest version. Also clean bin/obj folders and make a rebuild.

[2016-11-26 11:26] eluchsinger commented on #28
MahApps.Metro.IconPacks, v1.6.0

I don't know, weird. Maybe you can see something? If not, I will just work around it.

![iconpack error](https://cloud.githubusercontent.com/assets/12324017/20639974/82786fc6-b3d3-11e6-826c-e1ef2b1a75d3.png)

[2016-11-26 12:33] punker76 commented on #28
@eluchsinger Is this project public? So I can take a look to the complete situation. Which target do you use? AnyCPU, x86, x64?

[2016-11-26 14:02] eluchsinger commented on #28
@punker76 it's not public, but I can give you access to the repo. I target AnyCPU. It's just a demo project in the university, and I am testing out new stuff.

[2016-11-27 10:47] punker76 commented on #28
@eluchsinger Thx for the access to the project! I cloned it and restored the NuGet packages. After that I added the Button from your screenshot... and it works 🙈

![2016-11-27_11h41_49](https://cloud.githubusercontent.com/assets/658431/20647532/c4ecbf2e-b496-11e6-8f8c-b7a8c39bad2f.png)

So another try could be by deleting all your downloaded packages and restore it again. Maybe there is a wrong re

[2016-11-27 11:53] eluchsinger commented on #28
Hmm weird effect. Ok I will try that. Thanks for the help though!

[2016-11-27 16:29] eluchsinger commented on #28
Ok. I deleted the designer ShadowCache Folder and it worked! I will remember that trick for the next time. Thanks!

[2016-11-27 16:29] #28 closed

[2016-12-13 17:59] gigios opened #29 "Designer error in a 'custom' style 'Setter' for an icon"
The title of the issue is not clear, sorry for this.
I'm using the last version of the IconPacks (1.6.0) and I have tried to change directly the 'ButtonsExample.xaml' file in the 'MahApps.Metro.Demo.Shared' to replicate my problem.

I have the necessity to change an Icon when change a property. To do this I have set an 'inline' style for the icon with a DataTrigger to change the 'Kind' property to

[2016-12-14 11:07] gigios commented on #29
The Visual Studio xaml editor marks many errors also if I open the PackIconModern.xaml resource dictionary file (MahApps.Metro.IconPacks\Themes folder).
I have tried also with the Bland editor and I have the same 'effect'.

[2016-12-14 11:27] punker76 commented on #29
It seems the main problem are the MarkupExtensions, cause the naming is the same as the normal Control. I will look at that.

[2017-01-11 13:39] ghost opened #30 "Designer and execution error due to "Flip" property"
I'm getting the following error while trying to add an icon, they are working in 2 computers but not in the others.

` Flip property was already registered by 'MahApps_Metro_IconPacks_PackIcon`1_0_195866302' .`

[2017-01-17 11:19] tgiachi commented on #30
Hi, i have same error!

![2017-01-17 12_18_55-cap3000 client - microsoft visual studio](https://cloud.githubusercontent.com/assets/942730/22018460/3f3bd0ae-dcaf-11e6-874d-e75d79a9d29c.png)

[2017-01-17 14:05] punker76 commented on #30
@tgiachi is your app public? or can you create a short sample which also produces this error? thx

[2017-01-18 07:25] tgiachi commented on #30
Hi @punker76 , I can't post application because is company app.
I have seen another error related icons: ControlEx  Kind Property was already registered

[2017-01-18 11:38] punker76 commented on #30
@tgiachi What's your Platform selection? Any CPU or x64? Do you added the Iconpacks via NuGet? Do you maybe use the MarkupExtensions?

[2017-01-18 12:38] tgiachi commented on #30
Hi @punker76, I'm using Any CPU platform and i've added iconpacks using nuget. I'm using custom markup extensions, but the error is strange!

[2017-01-20 03:21] zsKengren opened #31 "Icon Pull Frequency"
First off, thank you for putting this together and all of the hard work you have put into your projects!

How often do you pull icons from the sources? I contributed to Material Design with the intention of getting access to it through this icon pack.

[2017-01-20 22:08] punker76 commented on #31
@zsKengren v1.7.0 is out now https://github.com/MahApps/MahApps.Metro.IconPacks/releases/tag/v1.7.0

[2017-01-25 10:16] punker76 commented on #31
@zsKengren Can I close this?

[2017-01-25 15:07] Insire opened #33 "Incompatibility: MahApps.Metro.IconPacks vs StrongNamer"
Hi i have the following problem. I'd like to use [gong-wpf-dragdrop](https://github.com/punker76/gong-wpf-dragdrop) and i strongly signed my assembly with [StrongNamer](https://github.com/dsplaisted/strongnamer). But when starting my application, it cant find this library, which i installed via nuget.

When removing StrongNamer, IconPacks is found and loaded correctly. Is this a common issue? Is t

[2017-01-25 15:45] Insire commented on #33
I found a workaround. I downloaded the Source of gong-wpf-dragdrop and signed it myself. Without using StrongNamer. Sadly i'll miss out on any updates you make to it. So I'm still looking for a solution for this problem.

[2017-01-25 22:28] punker76 commented on #33
@Insire Do you really need strongly signed app and assemblies?

[2017-01-26 06:35] Insire commented on #33
I can't really say, because i don't know. This is for work related stuff and all the other assemblies we use are strongly signed. Do you think there is a solution? Or do I/we have to live with it as it is?

[2017-01-26 07:41] punker76 commented on #33
@Insire You can mix strongly named and non-strongly named dlls together if your app or dll doesn't need strongly signed. but if your app or dll needs to be strongly signed then all other referenced dlls must be strongly signed...

[2017-01-26 07:53] Insire commented on #33
I figured as much. I thought strongnamer is supposed to "fix" that for me by strong naming assemblies who are not?

[2017-01-26 21:45] zsKengren commented on #31
Yes you can

[2017-02-07 06:55] darko1979 commented on #30
I'm having the same problem but it appeared recently on my computer and only in wpf designer, applications builds fine without errors and displays icons without problems while running. On another computer (similar specs Window 10, Visual Studio 2015) designer works fine. I tried rolling back to versions 1.6 and 1.5 (because I did not have these errors a couple weeks ago) and it did not help. Here

[2017-02-12 18:13] markbarks opened #36 "Icon spin property not working at runtime"
Hey, I can't seem to get a simple example of an icon with spin set true working.

The following code causes the icon to spin in the design window, but not in a running app. Bizarre. Any other information I can provide or ideas of what I can check?

[code]

[2017-02-13 10:27] #36 closed

[2017-02-13 10:28] punker76 commented on #36
@markbarks Thx for reporting, this will be fixed in 1.7.1

[2017-03-14 10:07] punker76 opened #38 "MarkupExtension Namespace vs Name change"
There is a problem with the current MarkupExtension naming and namespace. Visual Studio has problems with the properties of the MarkupExtension classes. The extensions doesn't have DependencyProperty implementations for the properties, but VS see this properties e.g. in a style and mark this usage with a warning.

Here are the reported issues

- Designer error in a 'custom' style 'Setter' for an i

[2017-03-17 13:04] natiT commented on #38
Solution 1 seems to be more "Lightweight"!

[2017-03-17 13:19] SurtursRevenge opened #39 "Use Iconpack as Image"
Hi everyone

I want to use some Icons if this Pack as Images, so everthink looks the same.
But i don't know how to access the Images ....

`xmlns:iconPacks="http://metro.mahapps.com/winfx/xaml/iconpacks"

this works  : <Button Content="{iconPacks:PackIconMaterial Settings}"

here i wan't to use the Image ... This doesn't work :
<myWPF:ImageButton Image="{iconPacks:PackIconMaterial Settings}" `

So

[2017-03-17 13:20] punker76 commented on #39
@SurtursRevenge Why do you want to convert it to an image?

[2017-03-17 13:25] SurtursRevenge commented on #39
@punker76
For buttons with text and a picture we use custom WPF ( -> myWPF:ImageButton)
This requires an Image="file.png" or static resource etc as an input.
But i want to use the Icons of this pack as Image. So now i need to get them as image source or something like that, so the can be used.

Or am i getting something totally wrong ?

[2017-03-17 19:03] themiwi commented on #39
Another application would be using the icons for `RibbonButton` which requires a `LargeImageSource` and a `SmallImageSource`.

[2017-03-17 19:55] Insire commented on #39
You can convert the path from the PackIcon to a geometry object, then manipulate it as you please. Maybe fill it with a color? Once you are done with setting it up, you can convert it to bitmap or png and write it to file. You can look at [this](https://github.com/Insire/Maple/blob/master/InsireBot/InsireBot/Controls/IoCWindow.cs#L37) for inspiration. Only the file part is missing, but you should

[2017-03-18 13:46] amkuchta commented on #12
@punker how do you plan on exposing the Xaml for the Icon so that the users can copy it for use?

[2017-03-20 11:07] SurtursRevenge commented on #39
@Insire
But can i do this in XAML ?

[2017-03-20 12:30] Insire commented on #39
Yes, why wouldnt you?

[2017-03-20 13:02] SurtursRevenge commented on #39
@Insire
Than i am to stupid :/

When trying this Image="{iconPacks:PackIconMaterial Settings}"

I get a XAML Parser Exception with inner exception
{"The Object of typ \"MahApps.Metro.IconPacks.PackIconMaterial\" could not be converted to typ \"System.Windows.Media.ImageSource\" "}

[2017-03-20 14:52] themiwi commented on #39
I solved it for my use-case with a new markup extension:
[code]

Will submit it as a pull-request once I get the time to clean up a bit.

[2017-03-20 16:15] Insire commented on #39
@themiwi got my idea. there are several ways to accomplish what you wanted @SurtursRevenge Using a markup extension, is one way, you could also use a custom converter. Also putting that logic into your viewmodel would be possible too, although i wouldnt recommend doing that.

[2017-04-07 08:09] Phyxion commented on #39
I use an IValueConverter for this, which is slightly more useful than a markup extension as you can also use bindings.

For example:
`ImageSource="{Binding Source={x:Static iconPacks:PackIconEntypoKind.AddToList}, Converter={common:PackIconEntypoImageSourceConverter}, ConverterParameter={StaticResource TextBrush}}"
`

or like this:

`ImageSource="{Binding Path=AddToListIcon, Converter={common:Pack

[2017-04-07 08:56] punker76 commented on #39
@Phyxion 👍  I'll also add PackIconImageXYZ classes derived from Image which will have the same power as the icons.

[2017-04-07 09:12] Phyxion commented on #39
Updated the gist file, I didn't really check the other icons as I mainly use Modern, but the pen thickness wasn't correct for most, making them drawn way too fat. This is now corrected :)

[2017-04-07 11:04] Phyxion commented on #39
It seems that if you use 0.25 as a Pen thickness for all converters it's the best result for all sizes. This also has the added advantage that - apart from the Material Light - they are all drawn at roughly the same thickness, so it's easier to use icons from different packs together.

Perhaps it'd be a nice addition to add a property to the converter to specifiy the Pen's thickness. Although you'

[2017-04-11 12:13] thomasjoscht opened #42 "Modern Icon "ControlStop" missing"
I'm wondering why icon "ControlStop" in Modern IconPack is missing. Is it possible to add this icon? Thanks a lot.

[2017-04-23 14:27] Elvaron opened #45 "Spin property still doesn't work during runtime"
My ViewModel contains:
`public ObservableCollection<LogEntry> LogEntries { get; } = new ObservableCollection<LogEntry>();`

with a UserControl for log entries:
[UserControl.xaml.txt](https://github.com/MahApps/MahApps.Metro.IconPacks/files/949774/UserControl.xaml.txt)

which is added to a MetroWindow via a _TransitioningContentControl_.

Everything works - Text binding, icon binding, color binding

[2017-04-23 14:58] punker76 commented on #45
@Elvaron Which version do you use?

[2017-04-23 20:32] punker76 commented on #45
@Elvaron Can you create a working sample app on GitHub? Thx.

[2017-04-24 18:32] Elvaron commented on #45
Sorry for the delay, I'll supply an example in a few minutes.
Version is 1.9.0

[2017-04-24 19:10] Elvaron commented on #45
Example project:
https://github.com/Elvaron/MahApps.Metro.IconPacks.IssueExample

Sorry about it being a bit more than strictly necessary, but extracting from existing code this way was easier than writing something from scratch.
In this case it's a command line application, my actual project is a VSIX Project, so the MetroWindow gets created from a context-menu entry click in Visual Studio.

Step

[2017-04-24 22:06] #45 closed

[2017-04-24 22:07] punker76 commented on #45
@Elvaron I'll publish this with 1.9.1

[2017-04-24 22:16] Elvaron commented on #45
Awesome! Thanks a lot for the fast response, and a great set of plugins!

[2017-05-05 14:22] FolkCoder opened #46 "Binding to icon type and kind, from string"
I have an application that currently uses the loose xaml icon file from MahApps.Metro.Resources. The application retrieves a large collection of objects from a database, including a string representing the resource key of the icon (for example, appbar_lock). I then use a converter (using TryFindResource) to convert the string to a matching resource key.

This setup works fairly well for me, and I'

[2017-05-23 18:57] amkuchta opened #48 "FontAwesome 5 Pro"
As the FA5 release date rapidly approaches (30 June, last I looked), I am going to be interested in incorporating my pro license into some of my apps.  However, I know that we cannot just give away FA5 Pro Icons.

The only solution I see is for me to generate my own version of MA.M.IP, but I am unsure as to how to incorporate the FA5 Pro icons (or any icons, for that matter) into it.  Can a quick-

[2017-05-30 16:31] Insire commented on #33
I kinda got an update on this Issue. StrongNamer still fails loading the signed IconPacks dll, but i can now use IconsPacks with your DragAndDrop library without signing either of them.

[2017-05-30 16:32] Insire commented on #33
Oh right i used the most recent versions from nuget for this

[code]

[2017-07-27 14:53] maggarwal opened #49 "Add signed version of the assembly"
Hi,

I wanted to use this library in my application but can't because my application is requires strong named assemblies. All other MahApps packages are signed, can you please add this one as well?

Thanks

[2017-07-27 15:35] Insire commented on #49
[StrongNamer](https://github.com/dsplaisted/strongnamer) can help you out there.

[2017-07-27 16:13] furqansafdar opened #50 "MahApps.Metro.IconPacks resource icons cannot be used repeatedly"
Hi Punker,

Awesome project but it has the same issue as reported in MahApps.Metro project.
https://github.com/MahApps/MahApps.Metro/issues/2395

Separate Question: Is there any easy way to generate XAML path automatically for any icon image?

[2017-07-27 16:25] punker76 commented on #50
In which scenario did you get the issue? Can you provide a short sample? Thx

[2017-07-27 16:27] punker76 commented on #50
The IconBrowser has a copy to clipboard command of you click on an Icon in the list.

[2017-07-27 17:31] furqansafdar commented on #50
Check this sample, I am suspecting it may not be IconPacks issue but at the moment only one image is shown while using multiple instances.

[code]

[2017-07-27 17:33] furqansafdar commented on #50
Regarding my question, Is there any easy way to generate XAML path automatically for any icon image? I mean the way to generate the path for the user provided image?

[2017-07-27 17:42] furqansafdar commented on #50
Thanks Punker, your idea to make a sample led me to a solution where I was myself missing x:Shared="false" in my own defined resources.

[code]

[2017-07-27 17:42] #50 closed

[2017-07-27 18:01] punker76 commented on #50
@furqansafdar by the way, you can use the PackIconXYZ control directly instead using a ViewBox with the MarkupExtension.

[2017-08-15 02:41] amkuchta commented on #48
Just found out that Symbolicons is also doing a Pro version... which means that this issue (feature request?) should apply to that as well.

I think the only way to do it is to fork the report and incorporate what I want myself, so maybe the larger issue at hand is creating a user guide to give some insight as to how to do that. Thoughts, @punker76?

_Sent from my Htc HTC6535LVW using [FastHub](ht

[2017-08-29 17:16] evan-boissonnot opened #53 "After Install Package not running"
Hi everyone

I'm trying to use your package.

I launch the Install-Package MahApps.Metro.IconPacks on my wpf projet in vs 2017 community.

After that, I'm starting to use th icon pack.

1. I add xmlns : xmlns:iconPacks="http://metro.mahapps.com/winfx/xaml/iconpacks"

2. I try this <iconPacks:PackIconMaterial Kind="EmoticonCool" VerticalAlignment="Center" HorizontalAlignment="Center" />

But PackIc

[2017-08-29 17:25] punker76 commented on #53
@evan-boissonnot Is it not running? Is your project in GitHub?

[2017-08-29 20:23] evan-boissonnot commented on #53
Hi Punker76,

Nop, but I'll create you tomorow a project to show. It wil be better I think, nop ? :)

[2017-08-29 20:43] punker76 commented on #49
I will not do this https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Usage#strong-naming

[2017-08-29 20:43] #49 closed

[2017-08-29 20:44] punker76 commented on #33
I will close this for now https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Usage#strong-naming

[2017-08-29 20:44] #33 closed

[2017-08-30 01:03] maggarwal commented on #49
@Insire  That's not really a solution. This is a open repository and you guys are asking me to maintain a separate copy of it just so that I can use it in my code. Signing isn't something only one person needs and doesn't really add any overhead to the developement and should be added. Also since the parent MahApps library is signed then I don't see any reason why this can't be. It forces people t

[2017-08-30 06:27] punker76 commented on #49
@maggarwal Sorry about feeling pissed off! That was not my intention.

MahApps.Metro.IconPacks will not be strong-named.

Why?

Strong-named assemblies are only useful in some rare scenarios. And yes, if you need strong-named assembly then you can compile the source by yourself (if the following shown tools doesn't work) ore use the [Strong Namer](https://github.com/dsplaisted/strongnamer) from Da

[2017-09-18 16:22] schdck commented on #53
Any news @evan-boissonnot?

[2017-09-19 11:02] evan-boissonnot commented on #53
Hi

Everything is ok, now ...
Apologize to forget you :D I have a lot to do with my project.

After update my VS everything is ok :)

Not understand what was going on ..

See you.

Bien cordialement
__________________________________________
Evan BOISSONNOT - Entrepreneur agile
Site : http://evanboissonnot.fr

Vous entreprenez pour de vrai ?
<http://entreprendrepourdevrai.fr/tous-mes-articles/>

T

[2017-09-19 11:03] #53 closed

[2017-09-20 13:45] punker76 opened #55 "Update Material Design and Simple Icons"

[2017-09-29 15:14] thombrink opened #56 "Icon binds only to first datagrid row"
If I add an icon to a button in a datagrid in WPF everything works just fine.
But when I try to use it inside a DataTrigger, only the first row of my datagrid shows an image.

[code]

[2017-10-21 02:46] shawnshaddock opened #57 "Export Icon as Image From IconPacks Browser"
It would be awesome if we could export icons as images like in Syncfusion Metro Studio.
https://youtu.be/eWAemchE6Sg?t=1m4s

[2017-10-21 06:03] Insire commented on #57
I have a open [PR](https://github.com/MahApps/MahApps.Metro.IconPacks/pull/51) that does just that.

[2017-10-22 11:10] halipourian opened #58 "A suggestion on a new API design"
First of all I must say I can't thank you enough for all the time and effort that your MahApps projects had saved me in my projects.
I've got a suggestion on API design of this project. The main idea came to my mind by looking at how we use Brush, Brushes classes with Foreground property on a control. Through years I've learned that using generic classes along with xaml is not good idea... It will

[2017-10-24 14:58] gimmebytes opened #59 "Using FontAwesome icons inside Image leads to inversed visuals"
Hi there,

when using the current FontAwesome Iconpack (v1.9.1 or .0) the icons are displayed like this when embedding as Image inside XAML code using an custom converter (bool to icon):

![fontawesome](https://user-images.githubusercontent.com/1862500/31950389-c9556206-b8db-11e7-8a6f-abb47a071145.png)

Here is the code of the converter:

https://gist.github.com/gimmebytes/0d217c2261ce7ea60f33a2ae

[2017-10-24 15:23] punker76 commented on #59
@gimmebytes Hi, this is caused by the raw original data from the FontAwesome icons. You must flip/scale the icons at y-axis by -1 like I does at the style

https://github.com/MahApps/MahApps.Metro.IconPacks/blob/6c829e868a3265903a3694641fb45fe57ca488c1/src/MahApps.Metro.IconPacks/Themes/PackIconFontAwesome.xaml#L43-L45

[2017-10-24 15:45] gimmebytes commented on #59
@punker76 Thanks, that did the trick. I've updated the gist accordingly!

[2017-12-22 21:28] punker76 opened #61 "Font Awesome 5.0 naming"
The new [Font Awesome 5.0](https://fontawesome.com/) introduce new sub groups `Regular`, `Solid` and `Brands`, so I want to know which is the best name for the enumeration.

1)
[code]
2)
[code]
3)
[code]

[2017-12-22 22:17] amkuchta commented on #61
I vote for the first choice, as it sticks to the FA5 pro naming convention (kind of)

[2017-12-22 22:20] punker76 commented on #61
My vote goes to the second one, cause the old names had some similar naming like `FontAwesomeNameOutline`

[2017-12-23 02:04] amkuchta commented on #61
@punker76 I feel like sometimes, you just want to disagree with me 😆 😆 😆

[2017-12-23 11:24] punker76 commented on #61
@amkuchta sorry, It's nothing with you...

[2017-12-23 15:17] #29 closed

[2017-12-23 15:17] #30 closed

[2017-12-23 15:17] #38 closed

[2017-12-23 22:40] #59 closed

[2017-12-23 22:59] #61 closed

[2017-12-24 11:46] #55 closed

[2018-01-01 23:27] Insire opened #67 "Possible new [IconSet] - Feather"
Just stumbled across this [project](https://github.com/feathericons/feather#feather) and thought that it might be a good addition to the icon pack. Preview can be found [here](https://feathericons.com/). Its licensed under MIT.

[2018-01-12 12:40] FabricioBonifacio opened #69 "[WPF] PackIconMaterial on property Glyph"
Hi,

I'm trying to use a icon from PackIconMaterial inside a property Glyph from element AppButtonBar (DevExpress) and i'm getting below error:

_MahApps.Metro.IconPacks.PackIconMaterial' is not a valid value to 'Glyph' property._

My Code:

_<dxwui:AppBarButton Label="Refresh" HorizontalAlignment="Center" IsEllipseEnabled="False" Glyph="{iconPacks:PackIcon {x:Static iconPacks:PackIconMaterialKind

[2018-01-12 12:42] punker76 commented on #69
@FabricioBonifacio Question is: What which type is that `Glyph` property?

[2018-01-12 13:13] FabricioBonifacio commented on #69
It is an ImageSource.

[2018-01-12 13:23] punker76 commented on #69
@FabricioBonifacio Ok, that's the problem, cause the `PackIconXYZ` are inherited from `Control`  and not `ImageSource`. There is already an issue here for this https://github.com/MahApps/MahApps.Metro.IconPacks/issues/39 so maybe you can use this workaround until it's official in here.

[2018-01-12 13:23] #69 closed

[2018-01-12 14:07] FabricioBonifacio commented on #69
@punker76 OK. Thanks.

[2018-01-15 13:21] barishamil opened #70 "Controlling size from container"
Width and Height given in default style prevents making the icon take the size of its container

[2018-01-15 13:24] punker76 commented on #70
@barishamil You can override this with `Width="Auto"` and `Height="Auto"` on the PackIconXYZ

[2018-01-15 15:08] barishamil commented on #70
@punker76 I didn't want to override default styles or assign a style for each icon because I already assigned styles for the containers but this will have to do

[2018-01-15 15:10] #70 closed

[2018-01-16 08:15] barishamil commented on #70
Auto by itself makes it 1600x1600, is there a way to make auto size take 1x1 so I can set Min(Width|Height)?

[2018-01-26 14:10] amkuchta opened #71 "Update Control Name to Match MarkupExtension"
Currently, if I use an Icon as its own control, I have to use the following syntax:

[code]

If I use the icon as a `MarkupExtension`, the syntax is slightly different (specifically, `PackIconFontAwesome` becomes a simple `FontAwesome`, which I think is perfect):

[code]

Can the control syntax be updated to match the `MarkupExtension` syntax for consistency?  Example:

[code]

[2018-01-26 14:18] punker76 commented on #71
@amkuchta I must say no, cause then I have the same problem as before that the VS designer doesn't works correct with custom styles or mixing usage of the MarkupExtensions and the controls.

[2018-01-26 14:30] amkuchta commented on #71
Ah, I see.  Ok, I'll close - thanks for the response!

[2018-01-26 14:30] #71 closed

[2018-01-26 14:35] amkuchta commented on #48
@punker76 I've updated the title of this since it extends beyond just FA5 now - Symbolicons has a pro license, and this could be used to satisfy #67 as well. Can we update the Wiki to walk people through how to generate an `IconPack` from an external library in their own (forked) repo?  That would allow:

1. Users to be able to utilize "Pro" licenses, and
2. Guidance on how others can create PRs f

[2018-03-17 16:15] atitarenko opened #74 "PackIconBase conflict with ControlzEx from MahApps.Metro"
Hello,

I use base class for icon packs, PackIconBase, in base styles and also as content of some custom controls, so that I can use all iconsets. It is the only non-generic common ancestor before Control.

Since MahApps.Metro 1.6, it depends from ControlzEx nuget package. So when I have both MahApps.Metro and MahApps.IconPacks installed, all my usages of PackIconBase produce the following error:

[2018-03-27 13:13] evan-boissonnot commented on #53
Bonjour,

Peut-être avez-vous déjà voté pour le projet *La diagonale du poulpe*,
alors un grand MERCI!

Si ce n'est pas le cas et que vous souhaitez aider *La diagonale du poulpe*
, alors soutenez-le en votant pour *son projet* !

Pour vous c'est moins de deux minutes, pour *La diagonale du poulpe* c'est
peut-être la chance de pouvoir décrocher un soutien financier de *2000 à
15000*€ ! C'est loin

[2018-03-28 12:54] Mutantpenguin opened #75 "Missing Material Icons"
These icons are missing:
- BatteryCharging10
- BatteryCharging50
- BatteryCharging70
- BatteryChargingOutline

[2018-03-28 13:46] Mutantpenguin commented on #75
Thanks!

[2018-03-28 13:46] #75 closed

[2018-05-07 09:33] SaadTiwana opened #79 "Error: 'Flip' property was already registered by 'MahApps_Metro_IconPacks_PackIconControl`1_13_147733582'"
Hi,
I get the following error every time i use any icons from MahApps.Metro.IconPacks in my WPF project in VS2017:

Error: 'Flip' property was already registered by 'MahApps_Metro_IconPacks_PackIconControl`1_13_147733582'

Packages i have installed in the project include:
MahApps.Metro
MahApps.Metro.IconPacks
ControlzEx (Installed as a dependency automatically, i don't manually install it)

All th

[2018-05-07 09:37] punker76 commented on #79
@SaadTiwana Can you additionally add the versions for the installed NuGet libs? Is this app on GitHub?

[2018-05-07 09:50] SaadTiwana commented on #79
@punker76 Thank you for the quick response.

The versions are the latest as of this moment, details below:
MahApps.Metro v1.6.2
MahApps.Metro.IconPacks v2.2.0
ControlzEx v3.0.2.4

The app is not on github unfortunately. Please let me know if any other information is required.

[2018-05-07 10:45] punker76 commented on #79
@SaadTiwana What is the selected Platform (Any CPU, x86, x64)? Which VS 2017 version?

[2018-05-07 13:36] SaadTiwana commented on #79
@punker76
The Platform is x64 (i cannot use x86 due to some other binaries being used), and i'm using vs2017 Community edition.
Targer framework is .Net 4.7.1

[2018-05-07 13:39] punker76 commented on #79
@SaadTiwana So, yeah, that's the problem, the VS designer has view problems with x64 compiled assemblies / apps, cause the designer itself is x86. This problem exists a very long time and I can not say when this will be fixed by the VS team.

[2018-05-07 14:01] SaadTiwana commented on #79
@punker76 Thank you for pointing that out. I at-least now see that the controls appear fine in x86 mode.
My workaround is that i can switch to x86 just during design time to see the changes in the designer, and then switch to x64 when compiling. Thanks a lot for pointing this out to me. I will now close this issue.

p.s Your Icon packs are awesome!! I am in love with them, and the MahApps.Metro ec

[2018-05-07 14:01] #79 closed

[2018-06-23 06:58] Motorcure opened #80 "can use IconPacks on Window control"
<Window x:Class="MahAppsMetroTest.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:local="clr-namespace:MahAppsMetroTest"
        xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
        Title="M

[2018-06-23 12:06] punker76 opened #82 "Update Icon packages"
- [Material Design](https://materialdesignicons.com/) (v2.4.85 with 2243 icons)
- [Font Awesome](https://fontawesome.com/) (v5.1.0 with 1264 icons)
- [GitHub Octicons](https://octicons.github.com/) (v7.3.0 with 177 icons)

[2018-06-23 12:06] #82 closed

[2018-06-23 20:30] punker76 commented on #80
@Motorcure You can not use it for the Icon property of the Window, cause it needs an `ImageSource`. If you use MahApps.Metro then you can use the `IconTemplate` property to set what you want as an icon.

[2018-06-23 20:30] #80 closed

[2018-06-24 02:15] Motorcure commented on #80
can use IconTemplate with IconPacks for the Icon property of the Window?

[2018-06-24 18:55] punker76 opened #83 "Add Weather Icons"
Add Weather Icons from https://erikflowers.github.io/weather-icons/

![2018-06-24_20h51_30](https://user-images.githubusercontent.com/658431/41822504-dd9c115e-77f0-11e8-985e-7f24aa2601c5.png)

[2018-06-25 14:12] erotavlas opened #84 "Iconpacks precompiled browser (.exe) triggers antivirus"
Symantec anti virus has quarantined (deleted) the icon packs browser executable from my computer.

Threat: Heur.AdvML.B

File: IconPacks.Browser.v2.2.0.zip>>MahApps.Metro.IconPacks.Browser.exe

Action taken: Cleaned by Deletion

[2018-06-25 14:43] punker76 commented on #84
@erotavlas Maybe this is caused by not signing the executable. If I scan it with my ESET then I got no virus detection.

[2018-06-25 14:43] #84 closed

[2018-06-29 22:11] michael-hawker commented on #58
May be able to use [CustomResource](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/customresource-markup-extension) or a [UWP Markup Extension](https://stackoverflow.com/questions/47156782/how-does-one-use-the-uwp-markupextension-class) to aid lookup too.

[2018-08-14 13:10] jean309 opened #86 ""Margin" and "Foreground" properties for Octicons & FontAwesome"
After a update from version 1.9* to 2.2.0 :
"Margin" and "Foreground" properties are not found for "Octicons" & "FontAwesome"
But they still still exist for "PackIconMaterial"
Sample :
[code]

[2018-08-14 14:34] punker76 commented on #86
@jean309 You are using the MarkupExtension class instead the PackIcon class. So if you use the correct class then it should work https://github.com/MahApps/MahApps.Metro.IconPacks#wpf-sample

[code]

[2018-08-14 14:34] #86 closed

[2018-09-04 19:47] cyberfizz opened #87 "Cannot resolve ControlzEx when Mahapps Metro used"
Hi All,

I have a weird one where i have an app developed using WPF and Metro and i have just added the icons pack but i cannot use any of the icons because i get the issue;

'Cannot resolve dependency to assembly 'ControlzEx, Version=3.0.2.4, Culture=neutral, PublicKeyToken=null' because it has not been preloaded. When using the ReflectionOnly APIs, dependent assemblies must be pre-loaded or load

[2018-09-25 20:09] punker76 opened #88 "Strong-Naming again..."
The author of the (in)famous "Still strong naming your assemblies?" blog article has now done an about-face and now advocates strong-naming your assemblies again in an update to that same [blog post](https://www.pedrolamas.com/2016/03/01/still-strong-naming-your-assemblies-you-do-know-its-2016-right/):

[**Start Strong-Naming your Assemblies!**](https://www.pedrolamas.com/2018/09/11/start-strong-n

[2018-09-27 22:36] punker76 opened #89 "Drop targeting to framework .Net 4.0"

[2018-09-29 20:39] #87 closed

[2018-09-29 20:39] #88 closed

[2018-09-29 20:39] #89 closed

[2018-10-02 15:02] Phyxion commented on #67
Yes, this would be a nice addition indeed. ModernUI icon pack is deprecated so perhaps it would make sense to remove that one and use this instead.

[2018-10-05 20:12] amkuchta commented on #48
@punker76 can you package the script you use to parse SVG files in the next release?

[2018-10-07 19:34] #83 closed

[2018-10-11 20:36] punker76 opened #96 "Icon for IconPacks library"
It would be cool to have an awesome icon (logo) for this library itself. This icon (logo) will then be used then here on the GitHub repository and for the NuGet packages.

If you have an idea about an icon or if you have time and you are a designer then go for it 👍 😃

Your name will be honored and linked to your site or whatever here on this repo and can be find at the README. It's also possible t

[2018-10-12 06:10] DeputyOfCopyPaster commented on #96
@punker76,
This designer's 'masterpiece' could be as a variant.
![iconpack_01](https://user-images.githubusercontent.com/43616343/46850910-5bc7ad00-cdfe-11e8-9b81-0b372a7ff842.png)

[2018-10-13 08:55] DeputyOfCopyPaster commented on #96
![iconpack_05](https://user-images.githubusercontent.com/43616343/46903523-de279e00-cede-11e8-9ca8-365bbbbd0383.png)
@punker76, Or like this one.

[2018-10-13 16:35] touseefbsb opened #98 "using icons in NavigationView of UWP"
I was trying to use some icons in the **NavigationView** of my uwp app but as it turns out **NavigationViewItem.Icon** only accepts following types.
1. SymbolIcon
2. BitmapIcon
3. FontIcon

and since IconPacks is not any of those how can they be used in this scenario?

[2018-10-13 16:55] punker76 commented on #98
@touseefbsb That's a weird restriction to base class IconElement. I'll look for a solution.

[2018-10-13 16:57] touseefbsb commented on #98
I agree it is a very weird restriction. it should allow any kind of content instead of limiting to an IconElement only

[2018-10-13 19:06] punker76 commented on #98
@touseefbsb Working in it...

[2018-10-13 20:07] touseefbsb commented on #98
@punker76  Thanks, I guess you are are changing the icon to produce fontIcon instead of normal Icon as content? While making the change please make sure that the icons can change its color and can respond to uwp theme toggle.

[2018-10-14 22:20] punker76 commented on #98
@touseefbsb https://github.com/MahApps/MahApps.Metro.IconPacks/pull/99

[2018-10-15 08:43] touseefbsb commented on #98
yeah the fix looks great. Thanks.

[2018-10-15 13:32] #98 closed

[2018-10-15 13:55] touseefbsb commented on #98
@punker76  I checked the pre-release package on nuget is still not updated to the dev branch.

[2018-10-15 13:57] punker76 commented on #98
@touseefbsb 3.0.0-alpha0065 should be available now on NuGet

[2018-10-15 14:01] touseefbsb commented on #98
currently its 0061, I think it might take some time to appear in the search.

[2018-10-15 21:30] punker76 opened #101 "IconPacks for AvaloniaUI"

[2018-10-17 10:01] touseefbsb opened #102 "does not work with uwp appbar Buttons"
I have tried setting appbar button icons with the new PathIconFontAwesome but it does not show up in the UI at all.

[2018-10-17 13:02] punker76 commented on #102
@touseefbsb After some investigating and style experiments I can say that this is by desing. The original Style for AppButton handles the Icon differntly as the style of the NavigationViewItem.

**NavigationViewItem**

[code]

**AppBarButton**

[code]

You can see that the AppBarButton uses the ViewBox differently.

**1. Solution**

Use the Content property instead the Icon property (take from off

[2018-10-17 21:06] touseefbsb commented on #102
thanks for the solution.

[2018-10-17 21:06] #102 closed

[2018-10-19 07:03] punker76 commented on #67
First try is coming (but not for PathIcon, because it's not working for this control)

![2018-10-19_08h57_46](https://user-images.githubusercontent.com/658431/47202540-c4bea000-d37d-11e8-81e3-af31ba3116dd.png)

[2018-10-20 19:04] punker76 commented on #67
Added in e1cbf5b423217e7dec2195b6a581b32a805cb516

[2018-10-20 19:04] #67 closed

[2018-10-22 21:40] #42 closed

[2018-10-22 21:47] punker76 commented on #39
Duplicate of #57

[2018-10-22 21:47] #39 closed

[2018-10-23 06:51] Phyxion commented on #39
@punker76 Should the other issue be closed? This one is older and has a lot more information.

[2018-10-26 08:34] aleksander-oven opened #107 "Problems in WPF apps that use Fody Costura for merging assemblies into main executable"
Adding any of the icon packs NuGets to a WPF application that uses Fody Costura results in the following:

1. XAML editor underlines all resources (even the ones from local assembly) with error saying "An item with the same key has already been added".
2. Code compiles fine, but an exception is thrown on app startup, with the same message as above.

Adding the MahApps.Metro.IconPacks NuGet to Cost

[2018-10-26 08:39] punker76 commented on #107
@aleksander-oven Which version of IconPacks are you using? By the way, the IconPacks browser uses Fody Costura and has no problems with this. Latest version of Fody Costura on the dev branch is v3.1.4

https://github.com/MahApps/MahApps.Metro.IconPacks/blob/4c1fde8d3c5a438275bf9d92e2b177cd83e79d14/src/paket.lock#L5-L6

[2018-10-26 08:55] aleksander-oven commented on #107
I'm on Fody Costura v3.1.4. As for the MahApps.Metro.IconPacks, its v2.3.0.

I'm actually glad to hear about the browser! It means the problem must be related to something else. What bothers me is that I can't understand which resource key the error is talking about. In XAML editor, even the references to commands are underlined as errors. Basically every named resource that is defined in the main

[2018-10-26 10:19] aleksander-oven commented on #107
After trying the Costura + MahApps.Metro.IconPacks in a brand new WPF project, I can conclude that it indeed works without any problems. I'll now try slowly re-adding everything step by step and see where the problem reappears. I apologize for raising the issue here.

[2018-10-26 10:19] #107 closed

[2018-10-26 11:30] punker76 commented on #107
@aleksander-oven you're welcome!

[2018-11-01 07:13] touseefbsb opened #108 "iconpath alignment issue"
I noticed that after using MaterialDesign IconPath in my NavigationViewItem the icons seem to be drifting a little towards right as you can see in this image. This does not happen if using default symbolIcon control.

![image](https://user-images.githubusercontent.com/11542189/47837926-88ecf700-ddcf-11e8-8c4e-dd6e13d36a8b.png)

[2018-11-25 22:55] JazzmanMarburg opened #109 "Bind an Icon"
Hello.
It could be that this is the wrong forum for a _question_ regarding **IconPacks**, but since I could not find any information about, I give it a try:
How can I bind an icon?
`<Label Content="{iconPacks:Material CalendarToday, Width=10, Height=10}"/>`
I would like to bind the icon depending on a status variable? I know I should create an converter (IValueConverter), but I am not sure how to

[2018-11-26 19:42] JazzmanMarburg commented on #109
Hello again.
The issue with the converter is solved - but I have a problem to see an icon multiple times.
I can see an icon one time, but if I wish to see the same icon multiple times, it does not work: The icon on a old position is "deleted" and I see it only on the new position.
Here is an example: Every arrow shows a position with the same icon. But only the green arrow shows one icon - the red

[2018-11-27 09:19] JazzmanMarburg commented on #56
Hi, did you solve this issue anyhow?
I have a similar problem when I try to bind an Icon several times: Only the last icon will be shown - the "old" icons disappear. Would be interesting to see your solution - if you have one.
Regards

[2018-11-29 08:35] touseefbsb commented on #108
any idea why this is happening @punker76  ?

[2018-12-05 20:56] punker76 commented on #109
@JazzmanMarburg I need more code (information), maybe from the TopicIconConverter and how your list works.

[2018-12-05 21:41] punker76 commented on #108
@touseefbsb Just tried it with the NavigationView and can not see this issue...

![image](https://user-images.githubusercontent.com/658431/49545775-da146d00-f8de-11e8-9e41-0cb13f1a3c05.png)

[2018-12-05 21:41] punker76 opened #111 "IconPacks for .NETCore 3.0"

[2018-12-06 05:51] touseefbsb commented on #108
oh then its probably something wrong in my app, thanks for confirming.

[2018-12-06 05:51] #108 closed

[2018-12-06 09:18] JazzmanMarburg commented on #109
Hi Jan,
darf ich in deutsch antworten? Ist halt ein wenig einfacher.

Ich Dir den TopicToIconConverter angefügt.
In dem UserControl habe ich im XAML die Ressource so eingefügt:

<UserControl.Resources>
        <local:TopicToIconConverter x:Key="TopicToIconConverter"/>
</UserControl.Resources>

Und im selben UserControl greife ich in der Liste (LiestView) auf die Icons so zu:

<Grid Grid.Column="0"

[2019-01-09 20:24] r0si opened #112 "A value of type ‘PackIconMaterial’ cannot be added to[...] of type ‘UIElementCollection’"
I get a error message in VS designer when trying to add a icon from the pack.
A „System.Windows.Markup.XamlParseException - Could not load file or assembly ControlEx, Version=3.0.2.4...“ is thrown when building the app.

Using VS 2017 Professional, C#7, Metro Alpha v2.0.0 -0186, IconPacks v2.3.0 and ControlEx v4.0.0 -0218.

App.xaml and MainWindow.xaml changed according to the Quick Start guide.

[2019-01-15 10:18] Jacob-JA-Shanks commented on #112
Having a similar problem. Tried to use an icon from the modern pack on a WPF project (.NET 4.7.2). Followed the guide but noticed the VS was giving me a warning saying iconPacks:Modern couldn't be found in this context. Then running the program anyway yields the same error as shown below:

System.Windows.Markup.XamlParseException
  HResult=0x80131501
  Message=Could not load file or assembly 'Cont

[2019-01-15 10:37] r0si commented on #112
Fixed it for me, thanks!

[2019-01-15 10:38] #112 closed

[2019-02-05 12:23] Suplanus opened #115 "IconPacks for Xamarin"
Existing libraries are not that good 😘

[2019-02-21 14:10] #111 closed

[2019-02-28 06:15] allenlili opened #119 "The tag 'Material' does not exist in XML namespace 'http://metro.mahapps.com/winfx/xaml/iconpacks'."
In XAML,

[code]

After building project, 'Error List' displays 'The tag 'Material' does not exist in XML namespace 'http://metro.mahapps.com/winfx/xaml/iconpacks'.

How to avoid this? Thanks.

[2019-02-28 10:28] punker76 commented on #119
@allenlili Please, provide some more informations like

- VS version?
- IconPacks version?
- Which target (AnyCPU, x86, x64)?
- Targetframework?

Thx

[2019-03-03 18:05] emptienater commented on #119
Make sure to install the [MahApps.Metro.IconPacks](https://github.com/MahApps/MahApps.Metro.IconPacks) for your project.

[2019-03-08 16:32] allenlili commented on #119
VS version 2015
IconPacks version: 2.3.0
target: x86
targetframework: .net4.5

[2019-03-13 11:03] SAMUD commented on #119
I opened an old project from summer last year and get the same error.

`Der Name "PackIconMaterial" ist im Namespace "http://metro.mahapps.com/winfx/xaml/iconpacks" nicht vorhanden.`

I'm getting this with PackIconMaterial or whatever else for Icons I want to use.
IntelliSense is showing me the hints for the IconPacks, but as soon as I tap enter the code
`<iconPacks:PackIconMaterial ......." />` g

[2019-03-14 15:27] punker76 commented on #119
@allenlili @SAMUD Can you try to clean all bin and obj folders and build it again? Another tipp is to clean the Designer ShadowCache located in `C:\Users\<USER>\AppData\Local\Microsoft\VisualStudio\14.0\Designer\ShadowCache` (or whatever VS is installed)

[2019-03-18 09:39] punker76 commented on #119
@allenlili @SAMUD ping

[2019-03-26 09:51] #119 closed

[2019-03-31 10:34] touseefbsb opened #122 "please mention supported sdk in read me and in nuget info"
I tried to use them on uwp 1607 version and it crashed so please mention the uwp sdks supported In the read me file and also on the nuget package description dependencies section. Thanks.

[2019-03-31 14:35] punker76 commented on #122
@touseefbsb Can you describe what crash you've got. Any stacktrace or additional info would be helpful. thx

[2019-04-01 19:26] yasmanycruz79 opened #123 "How to create a new IconPack Object from SVG Path?"
I have a custom SVG Icon and i need to get a IconPack Object in Code, please help!!!

[2019-04-02 05:41] SAMUD commented on #119
@punker76 Sorry for not answering. I was busy.

I just had to reinstall my PC. So I'm starting of a clean install now. I cleaned all bin and obj folders, but didn't find the ShadowCache folder.

Errors are still the same:
![image](https://user-images.githubusercontent.com/10502656/55378691-50864c00-551a-11e9-971f-7aa9eaba0f36.png)

I attached some parts of the code:
`<Controls:MetroWindow   x:Clas

[2019-04-02 07:29] punker76 commented on #119
@SAMUD Here is my try with exact the same conditions like MahApps.Metro v1.6.5 and IconPacks v2.2.0. I used VS 2015 and all works fine => https://github.com/punker76/WpfAppMahAppsIconPacks

[2019-04-02 08:18] SAMUD commented on #119
Im running VS2017 community.

If you want I can send you my project, so you can see it directly there :)

[2019-04-02 08:24] punker76 commented on #119
@SAMUD The sample works also under VS 2017 and VS 2019.

:-D you can do this via Gitter private chat room

[2019-04-02 08:30] SAMUD commented on #119
Ok. I sent you a message

[2019-04-02 12:28] punker76 commented on #123
@yasmanycruz79 I created a repo which shows how to create such a custom icon pack:

https://github.com/punker76/WpfAppMahAppsIconPacks#how-to-create-a-new-iconpack-object-with-custom-svg-paths

[2019-04-02 12:28] #123 closed

[2019-04-03 11:39] yasmanycruz79 commented on #123
Awesome!!! thanks!! is great!!!

[2019-04-03 13:40] amkuchta commented on #123
@punker76 any chance you are willing to share the script you use to automatically parse large numbers of SVGs?

[2019-04-11 08:01] #122 closed

[2019-04-20 11:40] darxis opened #124 "Common PackIconControl for all packs"
I wanted to bind a PackIconKind present in the ViewModel so that I could bind for example a PackIconModernKind and a PackIconFontAwesomeKind at the same time.

I have created a Control for this -> https://gist.github.com/darxis/80de2f3213546d6dbb034fc06dd5a255

The usage is as follows (you can bind any Kind type in PackIconKind:
[code]

[code]

Please add this control, as it allows to bind any Ico

[2019-05-11 22:44] tenninebt commented on #115
Has anyone looked into this? Any one has an idea what makes the package incompatible?

[2019-05-18 00:08] alekdavis opened #126 "Icons missing from the 3.0.0-alpha0146"
I am using the IconPack Browser v1.5.0.0 (with IconPacks v2.3.0.4) and IconPacks v3.0.0-alpha0146 in my app, and quite a few icons that browser shows in v 2.3 are missing from the alpha. For example, AccountSettingsVariant, SecurityAccount, and more.

![IconPacks](https://user-images.githubusercontent.com/2113681/57961660-53b87a00-78c5-11e9-9b44-4e1f02378511.PNG)

![IconPacksBrowser](https://user-

[2019-05-21 11:08] romigrabarz opened #127 "The method or operation is not implemented"
I create a simple window like that:
`new UserControl1();`
and have an exception:

Exception is throw by InitializeComponent() method in UserControl1 constructor:
[code]

My UserControl1.xaml code:
[code]

When I remove line starts with <icon..., then everything works fine.
If I create xaml window programmaticaly, then works too without exception:
[code]
I have to load assemby MahApps.Metro.IconPac

[2019-06-12 08:53] punker76 commented on #126
@alekdavis The v3.0 alpha uses new/updated icons, so the browser from v2.3 is not compatible. You can download the latest browser from the [azure pipeline](https://dev.azure.com/mahapps/MahApps.Metro.IconPacks/_build?definitionId=3)

![image](https://user-images.githubusercontent.com/658431/59337157-4cd42a00-8d00-11e9-9b8a-e95fd5621f57.png)

![image](https://user-images.githubusercontent.com/65843

[2019-06-12 08:53] #126 closed

[2019-06-12 08:58] punker76 commented on #127
@romigrabarz Seems like you load a wrong version of IconPacks at this line:

[code]

The version should be v2.3.0.4. Additionally maybe you must load the ControlzEx too.

[2019-06-19 11:20] romigrabarz commented on #127
Thanks for replay.
I fix assembly version, but problem still exists.
I try to load assembly from path but nothing happend:

[code]

My dll's is another path than my exe, like this:
C:\Test\MyProgram.exe
D:\Dll\ControlzEx.dll
D:\Dll\MahApps.Metro.IconPacks.dll

When I copy those dlls to exe path, then everything works fine. But I have to seperate dlls to exe.
How to achive/solve this?

[2019-06-19 22:14] punker76 opened #130 "Rename Rotation property to RotationAngle"
**Describe the bug**

In UWP `v10.0.17763.0` Microsoft introduced the `UIElement.Rotation` property ([docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.rotation)).

This property conflicts now with our own `Rotation` property and Visual Studio will produce following message:

[code]

**Fix**

To fix this, we will change the name of `Rotation` to `RotationAngle` for all targe

[2019-06-20 11:02] #130 closed

[2019-06-21 21:54] punker76 opened #132 "MarkupExtension for UWP 10.0.16299"
Introduced in Windows 10 Fall Creators Update (v10.0.16299.0), the `MarkupExtension` class allows developers to write markup shortcodes just like the native {Binding}, {StaticResource}, or {x:Bind}.

Now we can easily create a MarkupExtension that would return a PackIcon instance for a given icon kind.

[2019-06-21 22:12] #132 closed

[2019-06-23 16:11] punker76 commented on #127
@romigrabarz I think what you need is embedding an assembly and reference it at the same time. Or you use some known libraries which does this for you in a magical way, like Costura Fody or ILMerge.

Here are some links to help you out:
- https://stackoverflow.com/a/9260325/920384
- https://www.codeproject.com/Articles/32828/Using-Reflection-to-load-unreferenced-assemblies-a

[2019-06-24 17:31] Insire opened #136 ".Net Core 3 XamlParseException: The method or operation is not implemented"
**Describe the bug**
Using the MahApps.Metro.IconPacks.FontAwesome nuget package, i get a XamlParseException (The method or operation is not implemented) thrown in PresentationFramework.dll.

**To Reproduce**
Steps to reproduce the behavior:
1. clone [this](https://github.com/Insire/MahApps.Metro.IconPacks.IconLoadingProblem)
2. compile
3. run
4. See error

**Expected behavior**
Program starts and

[2019-06-25 06:34] Insire commented on #136
I can reproduce this on another PC running:
Visual Studio: 16.1.3 (Professional)
.NET Framework: 3.0.100.11223 (preview 4, x64)

[2019-06-25 06:36] Insire commented on #136
Also, i just forked and cloned this repo and tried reproducing that with the PC i just mentioned and a new app and the problem does not occur. Weird.

[2019-06-25 09:43] punker76 commented on #136
@Insire You must use the latest alpha of IconPacks together with .Net Core 3 Preview 6. Version 2.3.0 is not for .Net Core 3.0

[2019-06-25 12:21] #136 closed

[2019-06-25 15:09] patriksvensson opened #137 "Can't compile UWP project referencing preview version of MahApps.Metro.IconPacks.Octicons"
**Describe the bug**

For some reason, I cannot build any UWP project that references version `3.0.0-alpha0176` of `MahApps.Metro.IconPacks.Octicons`. The project compiles if installing the previous version (`3.0.0-alpha0169`).

**To Reproduce**

* Create a new UWP project targeting minimum version `17736`
* Install version `3.0.0-alpha0176` of the `MahApps.Metro.IconPacks.Octicons` NuGet package

[2019-06-26 20:27] patriksvensson opened #138 "UWP app with MahApps.Metro.IconPacks crash at startup"
**Describe the bug**

When building an UWP application in release mode targeting x64, the application crashes due to a StackOverflow exception. The debugger in Visual Studio just hangs for me but I managed to find the exception via WinDbg.

[code]

**To Reproduce**

1. Create a new UWP project targeting min version `10.0.17763.0`
2. Add a reference to version `3.0.0-alpha0169` of `MahApps.Metro.Ic

[2019-06-27 09:39] romigrabarz commented on #127
Thanks!
I solved problem with use Costura Fody and merge missing assemblies into one dll like this (FodyWeavers.xml):
[code]

Everything works without any exceptions!

[2019-06-27 09:42] #127 closed

[2019-06-29 09:02] patriksvensson commented on #137
@punker76 Still seeing this issue in both version `v3.0.0-alpha0179` of `MahApps.Metro.IconPacks` and `MahApps.Metro.IconPacks.Octicons`.

[2019-07-08 15:36] #137 closed

[2019-07-11 12:32] patriksvensson opened #141 "Icons spin when changing visibility (UWP)"
**Describe the bug**

When changing the visibility of an icon (from `Collapsed` to `Visible`) in an UWP project, the icon starts spinning.

**To Reproduce**

1. Create an UWP project and add `MahApps.Metro.IconPacks` version `3.0.0-alpha0186`
2. Add an icon (in my case `Octicons.Star`) to the startup page with visibility set to `Collapsed`.
3. Change the visibility to `Visible` of the icon program

[2019-07-13 21:27] #141 closed

[2019-07-14 06:27] patriksvensson commented on #141
I've verified that this works. Thank you 👍

[2019-08-01 19:08] patriksvensson commented on #137
@punker76 There seems to have been a regression introduced in version `v3.0.0-alpha0189` of the `MahApps.Metro.IconPacks.Octicons` package. Getting `Cannot find type Windows.UI.Xaml.Markup.MarkupExtension in module` when compiling the project.

Downgrading to version `v3.0.0-alpha0188` works as expected.

[2019-08-01 19:32] punker76 commented on #137
@patriksvensson Damn, the only change at this version was to change the .Net Core 3 SDK to Preview 7 and using a newer `MSBuild.Sdk.Extras`. I will try to go back to the prior version of `MSBuild.Sdk.Extras`.

https://github.com/MahApps/MahApps.Metro.IconPacks/commit/48befffa5cdf5809d1a469745f1f93bca536c9d5

[2019-08-09 22:33] #124 closed

[2019-08-16 21:47] amkuchta commented on #48
For anyone who needs it, I created a Python file that generates a custom `DataFactory` for `PackIconFontAwesome`.  I didn't include any error handling because I am lazy, and values are hard-coded (you'll need to swap in the location of your FontAwesome folder).

Also, the script assumes that the directory follows the structure that FontAwesome ships in - specifically that there is one master direc

[2019-08-17 02:01] amkuchta commented on #48
I realized that I forgot `PackIconFontAwesomeKind`...

... I'm reworking the script to operate off the the `icons.json` metadata file to accomplish the full spectrum.  Everyone ignore the above comment lol.

@punker76, this definitely isn't closed yet.

[2019-08-20 13:29] amkuchta commented on #48
New update...

Got both files to generate correctly, but now there is an issue with the number of items in a single class.  I'll be working to break out the `PackIconFontAwesomeKind` into several types this evening:

- `PackIconFontAwesomeBrandsKind`
- `PackIconFontAwesomeLightKind`
- `PackIconFontAwesomeRegularKind`
- `PackIconFontAwesomeSolidKind`

I may also tackle `DuoTone` at a later date, bu

[2019-08-21 00:28] amkuchta commented on #48
Gist is updated with the latest version.  A few caveats:

- Some names changed, as each icon type is now its own kind.  Items like `DrawPolygonSolid` are now `PackIconFontAwesomeSolid.DrawPolygon`.  Obviously, this is breaking
- There are a ton of other refactors that have to be done to make this work.  Basically, search for `PackIconFontAwesome` everywhere and replace it with `PackIconFontAwesome

[2019-08-21 11:58] Suplanus opened #144 "Visual Studio Code - Icons"
Microsoft published the icons of VSCode: https://github.com/microsoft/vscode-icons

Would love to see it in MahApps.IconPacks

[2019-08-26 10:49] Jacquers commented on #112
In my case I wanted a button with text and an icon. This did the trick:

<Button>
                <StackPanel Orientation="Horizontal">
                    <ContentControl VerticalAlignment="Center">
                        <iconPacks:MaterialLight Kind="Printer" />
                    </ContentControl>
                    <Label Content="Printing" />
                </StackPanel>
            </Bu

[2019-08-27 13:59] Jacquers opened #145 "Namespace Issue"
I'm getting a weird one...

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'FontAwesomeExtension' exists in both 'MahApps.Metro.IconPacks.FontAwesome, Version=2.3.0.4, Culture=neutral, PublicKeyToken=null' and 'MahApps.Metro.IconPacks, Version=2.3.0.4, Culture=neutral, PublicKeyToken=null'

`<controls:MetroWindow
    x:Class="VSC.SILS.Desktop.Views.MessageWindo

[2019-08-27 14:03] punker76 commented on #145
@Jacquers You don't need to add the `MahApps.Metro.IconPacks.FontAwesome` NuGet package if you already added the `MahApps.Metro.IconPacks` NuGet package.

[2019-08-27 14:06] Jacquers commented on #145
Fixed, thanks!

[2019-09-05 13:19] Nuklon opened #146 "Change MahApps.Metro to MahApps"
**Describe the bug**
In MahApps.Metro the "Metro" part has been removed from style names. I would expect this to use the same structure, so MahApps.Styles.PackIconMaterial instead of MahApps.Metro.Styles.PackIconMaterial.

I don't think a generator for this exists in this repo? I can't find it at least.

[2019-09-18 09:41] #145 closed

[2019-09-19 20:48] punker76 commented on #138
@patriksvensson I tried this again with 3.0.0-alpha0212 and can not reproduce this. So I'll close this for now. Feel free to re-open this or create a new issue if you still get this error.

[2019-09-19 20:48] #138 closed

[2019-09-20 05:28] patriksvensson commented on #138
@punker76 Hmm, I thought I reported back that `3.0.0-alpha0200` works as expected both with x86 and x64 but I seem to have forgotten to do that for some reason... Sorry about that. This can absolutely be closed!

[2019-09-25 20:14] punker76 opened #147 ".NET Core 3.0"
Support for [.NET Core 3.0](https://github.com/dotnet/core/blob/master/roadmap.md)

[2019-09-25 20:16] #147 closed

[2019-10-03 16:08] raggnic opened #148 "some Material Database icons are not in the nugget package"
If i run the Iconpacks browser there are several icons for database (like edit, import and so on)
When I import the Nuget package, there are not all in the PackIconMaterial package

[2019-10-03 16:40] timunie commented on #148
There are several different iconpacks available. Make sure you have the ones needed installed or all of them installed. Is the icon now available?

Happy coding
Tim

[2019-10-04 09:04] raggnic commented on #148
Thank you for answering :)
I've installed the whole MahApps.Metro.IconPacks Nuget.
I'm trying to display the Database icons from the Material

[code]
DatabaseMinus is present but not DatabaseEdit, altough it is present in the IconPacks browser.
Maybe I'm doing something wrong?

[2019-10-04 10:05] timunie commented on #148
I think I know what is going on. Some Icons were renamed. Try Intelligence to find the correct name.

[2019-10-04 10:12] timunie commented on #148
Intellisense is the correct word 🙂

[2019-10-05 11:00] punker76 commented on #148
@raggnic v2.3.0 doesn’t include the latest icons. but you can also use the latest alpha to use the latest available icons. if you need the browser then you can download it from the appveyor or azure pipeline ci builds.

[2019-10-05 11:00] #148 closed

[2019-10-07 15:25] raggnic commented on #148
Thank you @punker76 !

[2019-10-11 00:40] lindexi opened #150 "Can we push the IconPacks browser to UWP App store"
We can use the IconPacks browser to find the awesome icons without compile and find the exe file

[2019-10-11 12:37] timunie opened #151 "Add PICOL icons"
**Is your feature request related to a problem? Please describe.**
Should we implement the PICOL-Icons? see: [http://picol.org](http://picol.org)
![image](https://user-images.githubusercontent.com/47110241/66651937-a0b23980-ec34-11e9-8679-a43024c55878.png)
*Just an impression*

**Describe the solution you'd like**
Implement the icons

**Describe alternatives you've considered**
use other icons :-)

[2019-10-11 20:39] punker76 commented on #151
@timunie  this has now been added, and it will be released in the next version

[2019-10-11 20:39] #151 closed

[2019-10-12 06:14] WaldemarCoding opened #152 "Include Microsoft Azure Cloud and AI Symbol / Icon Set"
MS has a Set of Cloud AI specific icons. They are all provided as .svg files.
Should this be added to MahApps?
You find them here: https://www.microsoft.com/en-us/download/details.aspx?id=41937

[2019-10-12 22:08] #146 closed

[2019-10-13 15:46] ZaJra opened #153 "How tu use IconPack on UWP Helpme Please"
I'm new programing y i'm making a UWP proyect and I am just don't know how to use I tried many times and Spend a lot of Hours and i failed,Any one could send me an example or tell me hou to use ? Thanks very much.

[2019-10-13 16:40] timunie commented on #153
Hi @ZaJra can you upload what you have so far? I will have a look then and see if I can guide you in the right direction.

Happy cding
Tim

[2019-10-13 18:34] timunie commented on #153
Hi @ZaJra,
this one works for me. [https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Sample-(WPF,-UWP)](https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Sample-(WPF,-UWP))

Happy coding
Tim

[2019-10-15 19:07] punker76 commented on #46
@FolkCoder Yes you can do something similar when you take one of the enumerations of the IconPack kinds. The browser does this for example

https://github.com/MahApps/MahApps.Metro.IconPacks/blob/82eb00457bc0e93fe09f623d28a094e66411fa46/src/MahApps.Metro.IconPacks.Browser/ViewModels/IconPackViewModel.cs#L57-L82

[2019-10-15 19:07] #46 closed

[2019-10-16 16:06] panthernet opened #154 "Icons display errors in XAML designer constantly though build works fine"
**Describe the bug**
When using the icons as described in FAQ a `xmlns:iconPacks="http://metro.mahapps.com/winfx/xaml/iconpacks"` namespace is generated automatically but XAML designer shows following error:
`Unable to create unknown type "{http://metro.mahapps.com/winfx/xaml/iconpacks}PackIconMaterial"`
Project works when compiled but XAML designer don't show anything at all because of this error

[2019-10-16 21:31] punker76 commented on #154
@panthernet Can you please specify which version of IconPacks, Visual Studio and .Net Core 3 you are using? Here is a screenshot from my test build with .Net Core 3.0 final, VS 16.3.5 and MahApps.Metro.IconPacks v3.0.0-alpha0245.

![2019-10-16_23h28_39](https://user-images.githubusercontent.com/658431/66960610-166f3880-f06d-11e9-9ab3-c9af50299920.png)

[2019-10-16 23:24] panthernet commented on #154
Same lib version as yours. I'll try to update VS to latest minor patch to see if something is changing. Looks like the error is not 100% reproducable. Some controls use original namespace just fine but custom ContentControl with a style which uses this namespace produces the error steadily when referenced inside other control.

![image](https://user-images.githubusercontent.com/5926603/66966212-bd

[2019-10-17 10:34] panthernet commented on #154
Also don't forget to enable XAML UI designer when navigating MainWindow XAML code.

[SampleApp.zip](https://github.com/MahApps/MahApps.Metro.IconPacks/files/3738732/SampleApp.zip)

[2019-10-17 19:43] punker76 commented on #154
@panthernet I got it and will raise a PR. It's again the designer who can't handle generic classes.

![2019-10-17_21h34_50](https://user-images.githubusercontent.com/658431/67041911-f9973b80-f126-11e9-9432-30fc9411c1d6.png)

[2019-10-20 17:35] timunie commented on #96
Hi all together /cc @punker76

what do you think about this proposal? It is made with inkscape so anyone can modify it. As the file is svg it can also be converted to XAML.
[IconPacksIcon_Suitcase.zip](https://github.com/MahApps/MahApps.Metro.IconPacks/files/3748119/IconPacksIcon_Suitcase.zip)

![IconPacksIcon_Suitcase](https://user-images.githubusercontent.com/47110241/67163547-a9131e80-f370-11e9

[2019-10-20 19:59] #154 closed

[2019-10-20 20:01] #153 closed

[2019-10-20 21:02] mgnslndh commented on #96
I like the simplicity of @timunie proposal. Here's another one based on an icon from the Noun project:

![test](https://user-images.githubusercontent.com/1139118/67163995-14abba80-f376-11e9-85ea-4cc06a20a8f3.png)

[2019-10-21 06:23] timunie commented on #96
Hi @mgnslndh , your proposal is also very nice. I wanted to do a similar yesterday but I had not the time :-).

Here is another one based on the Noun project build on a proposal of @punker76 on Twitter.
![image](https://user-images.githubusercontent.com/47110241/67181003-94b83b80-f3db-11e9-9a42-98555ec4d0d1.png)

The MahApps Logo was transformed perspectivly but I don't know if it is 100% exact.

[2019-10-21 07:15] andreasgrosche opened #156 "XamlParseException trying to bind PackIconControl.Kind"
Binding the ``PackIconControl.Kind`` property results in a XamlParseException being thrown with  "A 'Binding' can only be set on a DependencyProperty of a DependencyObject".

I guess that the problem is [line 19 of the PackIconControl](https://github.com/MahApps/MahApps.Metro.IconPacks/blob/2c36725e038c0c3c8e53eb85d55c721444746a70/src/MahApps.Metro.IconPacks/PackIconControl.cs#L19) class where the

[2019-10-21 07:25] #156 closed

[2019-10-21 07:26] punker76 commented on #156
@andreasgrosche Thx for reporting this annoying copy&paste bug. It's fixed now.

[2019-10-21 12:09] amkuchta commented on #96
Tossing my entry into the hat!

![IconPacks_LogoEntry](https://user-images.githubusercontent.com/6255186/67203812-0b543980-f3da-11e9-8442-135ba7697185.png)

[2019-10-22 14:15] amkuchta commented on #96
Decided to also do one with a little less blue...

![IconPack_Alternate](https://user-images.githubusercontent.com/6255186/67295221-d9fc6c00-f4b4-11e9-8a85-40585333b528.png)

[2019-10-23 07:07] timunie commented on #96
Ok one last idea from my side: A Stack of different icons with the MahApps Icon on Top :smile:
![image](https://user-images.githubusercontent.com/47110241/67366839-86e9ee00-f574-11e9-92c5-ee2c273b23a6.png)

Happy chioce,
Tim

[2019-10-24 14:19] amkuchta commented on #96
@timunie i like yours, but I would suggest reducing the number of layers (perhaps to 3?) with more spacing to make the icon more scalable.  It might also help to take a "duotone" approach with regards to the layers to help set the middle layer apart from the outer two (again, for scaling purposes)

[2019-10-24 14:32] amkuchta commented on #96
I threw together a quick concept, but a few thoughts on it:
- Spacing between layers might be too much or too little
- For the middle and bottom layers, instead of duplicating the mustache, I could do a collection of evenly spaced icons (some Font Awesome, some Material, etc.) to give a better idea that it is an icon pack.  I just did the mustache to show the layering concept

![LayeredIcon](https

[2019-10-24 17:18] timunie commented on #96
Hi @amkuchta ,

thank you for your feedback. It is a first draft. As all the icons are *svg-files one can have several different styles of the same Icon. If my proposal win this competition I will have a look.

Happy drawing
Tim

[2019-10-24 18:50] amkuchta commented on #96
Perhaps something along these lines, using the several different styles idea?  The first image shows a the image that could be used for larger icons (`256x256`, `512x512`):

![UpdateLayered](https://user-images.githubusercontent.com/6255186/67515690-2a1e2e80-f66d-11e9-976c-14da8125912e.png)

The second image shows a more scalable version for smaller use, without the icons on the lower layers; this

[2019-10-24 20:21] Templarian commented on #96
![icon-mustache](https://user-images.githubusercontent.com/338885/67521663-ee856380-f670-11e9-82a5-2fea6f3961f0.png) ![icon](https://user-images.githubusercontent.com/338885/67521608-d9103980-f670-11e9-8d56-8ded016dafc4.png) ![icon-open](https://user-images.githubusercontent.com/338885/67521617-dd3c5700-f670-11e9-85c7-2d239557a02b.png)

Minimal two tone. With the mustache, and the the other two wi

[2019-10-24 20:35] amkuchta commented on #96
@Templarian how well does that scale to smaller sizes? Specifically 16px, 32px, 64px since they are used for Windows app icons in the explorer

[2019-10-24 20:38] Templarian commented on #96
@amkuchta Would have to make a solid variant that is a bit more "app icon". Could probably do that after work today before playing Outer Worlds tonight.

Should be possible to make this look nice at small size. 32x32. 16x16 would just use the mustache I would assume.

[2019-10-24 23:28] Templarian commented on #96
@amkuchta Something like this might work. If this the direction Jan decides to go I'll design a full icon. These are more mocks to gauge interest.

![icon-mustache-solid](https://user-images.githubusercontent.com/338885/67532482-f8689000-f68b-11e9-9735-0a62583ad6ee.png)

[2019-10-25 06:32] timunie commented on #96
If I were Jan @punker76  I would have no idea which one I should take. There are so many beautiful proposals :heart:

Happy choice
Tim

[2019-10-28 01:12] amkuchta commented on #96
@Templarian I like the design overall - the only things that I think that I would change (though these are completely due to personal preference):

1) I'd lose the corner borders - in my mind, they remind me of my grandmother's cross-stitch patterns, and I can't shake that feeling lol.  Not to mention that I don't think that they would scale well to smaller sizes.
2) I'd round the corners of the s

[2019-11-23 10:09] punker76 opened #157 "VerticalContentAlignment and HorizontalContentAlignment not working on PackIcon control"
**Desktop Environment (please complete the following information):**

 - IconPacks Version: v3.0 alpha

[2019-11-25 15:47] #157 closed

[2019-12-10 23:21] punker76 opened #160 "Add TargetFramework .NET Core 3.1"
[.NET Core 3.1](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/) is out, so we can add this to the TargetFrameworks.

[2019-12-11 08:55] #160 closed

[2019-12-15 22:41] timunie commented on #109
Hi @JazzmanMarburg

I think I know what is wrong. In WPF you cannot use the `Content` Property when you set a visual. It will only be rendered once. But you can use the `ContentTemplate` Property instead and set another `DataTemplate` there.

Ich antworte auf englisch damit auch andere etwas davon haben. Ich hoffe das ist OK für dich

Happy coding
Tim

[2019-12-16 06:43] timunie commented on #109
@JazzmanMarburg  For additional info see

[https://social.msdn.microsoft.com/Forums/vstudio/en-US/4422411d-5744-40c9-b9b6-34396f1a2e97/setting-content-property-in-a-style?forum=wpf](https://social.msdn.microsoft.com/Forums/vstudio/en-US/4422411d-5744-40c9-b9b6-34396f1a2e97/setting-content-property-in-a-style?forum=wpf)

@punker76 I can make a codesample if you want to have it for the documentation

[2019-12-16 18:50] JazzmanMarburg commented on #109
Hi,
thanks a lot for your answer!
I will take a look at the ContentTemplate Property.
(The project is ready, but nevertheless I will test it in a new one.)

Regards, jasmin

Von: Tim [mailto:notifications@github.com]
Gesendet: Sonntag, 15. Dezember 2019 23:42
An: MahApps/MahApps.Metro.IconPacks <MahApps.Metro.IconPacks@noreply.github.com>
Cc: Jazzman <Jasmin.Bajric@Outlook.com>; Mention <mention@n

[2019-12-18 14:02] punker76 opened #161 "PackIconImageExtension are not available (in WPF)"
**Describe the bug**

The new `PackIconImageExtension` MarkupExtension is not available (v3.0).

So this is not possible

[code]

**Expected behavior**

The new `PackIconImageExtension` MarkupExtension should be available (in WPF).

**Desktop Environment (please complete the following information):**

 - IconPacks v3.0

[2019-12-18 14:07] #161 closed

[2019-12-20 15:17] Forsaiken opened #162 "Icons not showing at Design Time when upgrade from version 2.3.0 to 3.0.1"
I have a project and when I update the MahApps.Metro.IconPacks to the recent version, all the icons disappear at design time in visual studio 2019.

I'm using .Net Framework 4.8, and when I run the application the icons are there, but in design they are invisible.

I tried uninstall the IconPacks and reinstall with the recent version and the problem persist.

[2019-12-20 16:26] Forsaiken commented on #162
I fixed the problem updating all the projects in solution to the same version and reloading the projects.

[2019-12-20 16:26] #162 closed

[2020-01-08 09:10] punker76 opened #163 "Simple Icons v2.20.0"
Update Simple Icons to v2.20.0

[2020-01-08 09:24] punker76 opened #164 "Unicons v2.0.8"
Update Unicons to v2.0.8

[2020-01-08 10:31] #163 closed

[2020-01-08 10:31] #164 closed

[2020-01-08 10:34] punker76 commented on #56
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable version](https://github.com/MahApps/MahApps.Metro.Icon

[2020-01-08 10:34] #56 closed

[2020-01-08 11:42] timunie commented on #56
Hello together,

just in case someone is still interested in a solution:
The problem is, that in WPF the `Content` property can only set once, if it is a `Visual`. But luckily you can set the `ContentTemplate` to a `DataTemplate` and then the `Style` should work as expected.

[code]

Happy coding
Tim

[2020-01-08 14:00] ondrasvoboda opened #165 "PackIconExtension default size"
Hi,
I have just updated from version 2.3.0 to 3.1.0 and found out that icons created with PackIconExtension have default width and height set to 16 and these properties are not nullable. Thus setting icon size in styles is not working in WPF anymore (local value has higher priority).
Seems that this is related to commit 2c36725e038c0c3c8e53eb85d55c721444746a70. Is there any chance to fix this?

Th

[2020-01-08 14:30] punker76 commented on #165
@ondrasvoboda Do you mean the behavior when a global style is set in the App.xaml?

[2020-01-08 14:32] ondrasvoboda commented on #165
@punker76 Yes

[2020-01-08 14:38] punker76 commented on #165
@ondrasvoboda Ok, I will look for a solution. The change comes from the UWP which doesn't allow nullable properties on MarkupExtension. As a workaround you can override this on the usage.

[code]

[2020-01-08 14:41] ondrasvoboda commented on #165
@punker76 thanks, that would be great.

[2020-01-08 15:17] timunie opened #166 "The cool MarkupExtension doesn't work anymore in WPF"
**Describe the bug**
this is not possible with the new version:

[code]

it throws;
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a new `MetroWindow`
2. Add a Button like shown above
3. try to compile -> It doesn't work

**Expected behavior**
`{iconPacks:PackIconMaterialDesign Kind=Help}` should show me the `Icon`

**Screenshots**
If applicable, add screenshots to help explai

[2020-01-08 15:20] punker76 commented on #166
@timunie That's correct, because this was changed in [v2.0](https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Breaking-change-1.9.x----2.0)

The [correct usage](https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/MarkupExtensions#packicon-markupextensions-wpf-and-uwp) is now:

[code]

[2020-01-08 15:24] timunie commented on #166
Thank you @punker76 ,

yes this works. Two more questions:
1) why does Intellisense give me the other notation?
2) why does the IconBrowser this: `{iconPacks:PackIconBoxIcons Kind=LogosAirbnb}`?

Happy coding,
Tim

[2020-01-08 15:44] punker76 commented on #166
@timunie

I don't know.

I'll fix this.

[2020-01-08 18:06] timunie commented on #166
Hi @punker76 ,
point 1: I made a sample App for demo - and Intellisense works here. So I guess this is in cache or something like this.

Sorry and Thanks,
Tim

[2020-01-09 07:03] timunie commented on #166
Update: Just in case someone has the same issue: Cleaning the Solution and deleting all the `bin` and `obj` folders solved it for me.

Happy iconing,
Tim

[2020-01-22 05:32] Templarian commented on #96
Here is the zip:
[icon.zip](https://github.com/MahApps/MahApps.Metro.IconPacks/files/4095390/icon.zip)

[2020-01-22 06:31] Templarian commented on #96
![stickermule](https://user-images.githubusercontent.com/338885/72870303-6f262100-3cad-11ea-858c-1400fe2517f2.png)
I've included templates for both Stickermule and Diginate Hexagon sticker templates.
[StickermuleDiginate.zip](https://github.com/MahApps/MahApps.Metro.IconPacks/files/4095560/StickermuleDiginate.zip)

[2020-01-22 08:47] timunie commented on #96
@Templarian pretty nice sticker design. :+1:

[2020-01-26 21:16] #96 closed

[2020-01-26 21:22] punker76 opened #167 "Simple Icons v2.3.0"
Update Simple Icons to v2.3.0

[2020-01-26 21:28] punker76 opened #168 "Material Design Icons v4.8.95"
Update Material Design Icons to v4.8.95

[2020-01-26 21:31] #168 closed

[2020-01-26 21:32] #167 closed

[2020-01-26 21:38] #166 closed

[2020-01-31 12:00] mythjuha commented on #46
The example could use a bit more explanation. How to go from a string (preferably representing any icon pack) to an iconpack control?

[2020-02-03 10:55] Inzanit opened #169 "Updating to 3.2.0 causes bad image build warning"
**Describe the bug**
When upgrading from 3.0.1 to 3.2.0, the following warning is in the output of the build:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start new WPF .NET Framework application
2. Install `MahApps.Metro.IconPacks`
3. Rebuild
4. Get warning

**Expected behavior**
1. Start new WPF .NET Framework application
2. Install `MahApps.Metro.IconPacks`
3. Rebuild
4. Succes

[2020-02-03 11:25] mastorm commented on #169
C# Discord Gang was here

[2020-02-04 07:52] punker76 commented on #169
@Inzanit This is weird. I tried 2 scenarios but can't reproduce this warning/error.

First one with the `MahApps.Metro.IconPacks` NuGet package:

1. Start new WPF .Net 4.8 application
2. Install v3.0.1 of the `MahApps.Metro.IconPacks` NuGet package
3. Use `PackIconMaterialLight` control
[code]
4. Start the application and close it directly (no warnings)
5. Update the `MahApps.Metro.IconPacks` NuGe

[2020-02-05 12:35] Inzanit commented on #169
I'm at a loss as to what this is - I explicitly installed the Material Light package and now am I receiving this compilation error:

![image](https://user-images.githubusercontent.com/1341180/73842035-bcf56a00-4813-11ea-93b3-72d8991089fc.png)

This only happens on 3.2.0 @punker76 any way I could provide better overview of what this could be? I'm looking through the verbose MSBuild log, but there i

[2020-02-05 13:16] punker76 commented on #169
@Inzanit Can you provide this simple sample here on GitHub?

[2020-02-06 12:03] jizc opened #170 "Material Design Icons v4.9.95"
Would love to see Material Design Icons updated to v4.9.95 😃

[2020-02-06 12:08] punker76 opened #171 "Octicons v9.4.0"
Update Octicons to v9.4.0

[2020-02-06 12:10] punker76 opened #172 "Simple Icons v2.4.0"
Update Simple Icons to v2.4.0

[2020-02-06 12:19] #172 closed

[2020-02-06 12:19] #171 closed

[2020-02-06 12:20] punker76 commented on #170
@jizc  this has now been updated, and it will be released in the next version.

[2020-02-06 12:20] #170 closed

[2020-02-07 21:37] punker76 opened #173 "Feather Icons v4.26.0"
Update Feather Icons to v4.26.0

[2020-02-07 21:42] #173 closed

[2020-02-10 19:02] timunie opened #174 "Improve new icon logo"
**Describe the bug**
Icon improvements

**To Reproduce**
See the latest master-branch

**Expected behavior**
- Use the Icon #96 for the Browser as well
- improve appearance for low resolution Icons (see Screeshot)

**Screenshots**
![image](https://user-images.githubusercontent.com/47110241/74180254-7b175a00-4c3f-11ea-979d-1827f5d4e1ca.png)

magnified:
![image](https://user-images.githubusercontent

[2020-02-10 19:35] Templarian commented on #174
@timunie I'm busy at work, but if your software supports PDF import you can grab it from https://github.com/MahApps/MahApps.Metro.IconPacks/issues/96#issuecomment-577029843

[2020-02-10 23:03] jizc commented on #174
I love the new icon, but yeah, my two cents are also that the low resolution version could be better, and personally I prefer the gradient from [#96 (comment)](https://github.com/MahApps/MahApps.Metro.IconPacks/issues/96#issuecomment-577029843), where the light shines from the top-left.

[2020-02-11 12:19] timunie commented on #174
@Templarian Inkscape was able to import the PDF. Thank you
@jizc I used the original gradient. Let's see if @punker76 is happy with it.

ref: #175

Happy coding,
Tim

[2020-02-16 18:11] UlyssesWu opened #176 "Change ModernExtension properties at runtime not working when the icon is in RightWindowCommands/ToggleButton"
**Describe the bug**
Changing `ModernExtension.Spin` or `ModernExtension.Kind` at runtime is not taking affect when the icon is located in `MetroWindow.RightWindowCommands`.

**To Reproduce**
Steps to reproduce the behavior:
1.  In MainWindow.xaml:

[code]

2. Set `IconNc.Spin = false` at `MainWindow.xaml.cs`
3. The icon is still spinning.
4. Set `IconNc.Kind` to other values won't work either.

*

[2020-02-17 14:25] UlyssesWu commented on #176
This seems only happens for a `ToggleButton` in `WindowCommands`. If I use a `Button` instead of a `ToggleButton`, it works as usual.

[2020-02-18 09:18] punker76 opened #177 "Simple Icons v2.5.0"
Update Simple Icons to v2.5.0

[2020-02-18 09:31] punker76 opened #178 "BoxIcons v2.0.5"
Update BoxIcons to v2.0.5

[2020-02-18 09:32] #178 closed

[2020-02-18 09:32] #177 closed

[2020-02-18 15:58] #174 closed

[2020-02-25 13:09] stefanobenedetti88 opened #180 "It is not possible to evaluate the expression [System.IO.Path]::GetDirectoryName"
Hello,
I'm trying to open the source code and compile it with vs2019, but all the projects are not loaded, and report the following error:
"it is not possible to evaluate the expression [System.IO.Path]::GetDirectoryName invalid path format. <my nuget path>".
Can you help me?
Thanks.

[2020-02-25 19:51] punker76 commented on #180
@stefanobenedetti88 Do you have the .Net Core 3.1 SDK installed? [wiki](https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/How-to-build-the-solution)

[2020-02-25 20:39] punker76 commented on #176
@UlyssesWu The problem is that you are using the MarkupExtension and not the PackIcon class itself. The provided properties of the MarkupExtension doesn't update the properties on the provided PackIcon class. So if you use the PackIcon class your problem will be fixed.

[code]

[2020-02-25 20:39] #176 closed

[2020-02-26 08:01] stefanobenedetti88 commented on #180
Thanks, now works!

[2020-02-26 08:01] #180 closed

[2020-02-26 08:08] stefanobenedetti88 opened #181 "Tool to create svg path"
Hello,
I would like to extend the library with some icons, what is the best tool to create a svg path eg: "M 136.67, .....".
Thanks for the support.

[2020-02-27 14:28] audacity76 opened #182 "Make the Brush bindable"
I'd like to change the icon color to the foreground color of the surrounding control. As the foreground color changes dynamically, I need to bind the icon brush color. Currently this is not possible. Any thoughts on this?

[2020-02-28 12:56] #109 closed

[2020-02-28 13:05] punker76 commented on #182
@audacity76 Here is an example with the MahApps Button style, but it should work also with a normal style or any other Control which can set the Foreground.

[code]

[code]

![image](https://user-images.githubusercontent.com/658431/75550956-53900200-5a33-11ea-9dad-6a24f81ae19e.png)

[2020-02-28 17:46] ekarkosApollo opened #183 "Need to Bundle All IconPacks?"
**Is your feature request related to a problem? Please describe.**
I'm working on building a final version of the product I'm working on which utilizes MahApps Metro IconPacks. My application only uses the FontAwesome and Material icon packs but I noticed that I need every IconPack DLL for the application to run. This is very annoying since I am required to include unnecessary DLLs in my applicati

[2020-02-28 19:44] punker76 commented on #183
@ekarkosApollo You can also use only the NuGet packages for this 2 Icon Packs.

So de-install the all-in IconPacks NuGet package and use only these 2 ones

- https://www.nuget.org/packages/MahApps.Metro.IconPacks.FontAwesome/
- https://www.nuget.org/packages/MahApps.Metro.IconPacks.Material/

[2020-02-28 19:49] ekarkosApollo commented on #183
Ah perfect I hadn't seen that before... Thanks!

[2020-02-28 19:51] punker76 commented on #183
@ekarkosApollo np. The wiki should help here (I hope so) https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/Install

[2020-02-28 19:51] #183 closed

[2020-02-28 20:52] Inzanit commented on #169
I apologise @punker76, IRL things came in the way. I diagnosed this myself, and it seems something went wrong in my `.nuget` folder. I deleted the folder and let VS restore all packages - the issue is now resolved. Apologies, again.

[2020-02-28 20:52] #169 closed

[2020-03-02 13:15] punker76 opened #184 "Unicons v2.1.2"
Update Unicons to v2.1.2

[2020-03-02 13:18] punker76 opened #185 "Eva Icons v1.1.3"
Update Eva Icons to v1.1.3

[2020-03-02 13:21] punker76 opened #186 "Simple Icons v2.6.0"
Update Simple Icons to v2.6.0

[2020-03-02 13:23] #186 closed

[2020-03-02 13:23] #185 closed

[2020-03-02 13:23] #184 closed

[2020-03-02 19:52] #165 closed

[2020-03-03 08:13] audacity76 commented on #182
Thanks for the hint. I was using the converter to bind to an image source. The color then defaults to black:

[code]

Simply changed it as you suggested and the color of the foreground is used:

[code]

[2020-03-03 08:13] #182 closed

[2020-03-10 14:12] jacob7690 opened #188 "PackIconControlDataFactory missing PICOL Icons"
Hello,

The PackIconControlDataFactory does not add icons from PackIconPicolIconsDataFactory.  The class says it is auto generated and not to amend so I'm not entirely sure what needs to be done.  However it is generated, I think that the `internal static IDictionary<Enum, string> Create()` method just needs the following code added it to it:

[code]

[2020-03-11 21:01] punker76 opened #189 "Unicons v2.1.3"
Update Unicons to v2.1.3

[2020-03-11 21:04] punker76 opened #190 "GitHub Octicons v9.5.0"
Update GitHub Octicons to v9.5.0

[2020-03-11 21:26] punker76 commented on #188
@jacob7690 this has now been fixed, and it will be released in the next version.

[2020-03-11 21:26] #188 closed

[2020-03-11 21:26] #189 closed

[2020-03-11 21:26] #190 closed

[2020-03-20 14:40] punker76 opened #191 "GitHub Octicons v9.6.0"
Update GitHub Octicons to v9.6.0

[2020-03-20 14:47] punker76 opened #192 "Simple Icons v2.7.0"
Update Simple Icons to v2.7.0

[2020-03-20 14:48] #192 closed

[2020-03-20 14:48] #191 closed

[2020-03-28 22:06] punker76 opened #193 "Font Awesome Free v5.13.0"
Update Font Awesome Free to v5.13.0

[2020-03-28 22:09] #193 closed

[2020-04-03 17:10] punker76 opened #194 "Simple Icons v2.8.0"
Update Simple Icons to v2.8.0

[2020-04-03 17:17] #194 closed

[2020-04-11 11:08] Azhe403 commented on #183
Single .dll for all icons may look good!

![gambar](https://user-images.githubusercontent.com/17938038/79042128-4c0d6c80-7c1f-11ea-8b1c-d91e4c189763.png)

[2020-04-11 14:08] timunie commented on #183
Hi @Azhe403 ,

as @punker76 already mentioned you can just install the ones you need. I really like the flexibility here and I don't see a need to change this. If you don't want to ship too much files to the customer just select the ones you need or ship a single exe-File.

Happy coding,
Tim

[2020-04-19 17:10] punker76 opened #195 "Unicons v2.1.6"
Update Unicons to v2.1.6

[2020-04-19 17:46] punker76 opened #196 "Feather Icons v4.28.0"
Update Feather Icons to v4.28.0

[2020-04-19 17:51] punker76 opened #197 "Simple Icons v2.9.0"
Update Simple Icons to v2.9.0

[2020-04-19 17:55] #197 closed

[2020-04-19 17:55] #196 closed

[2020-04-19 17:56] #195 closed

[2020-04-19 18:09] punker76 opened #198 "Material Design Icons v5.1.45"
Update Material Design Icons to v5.1.45

[2020-04-19 18:10] #198 closed

[2020-04-22 07:02] timunie commented on #181
Hi @stefanobenedetti88

I personally like Inkscape: https://inkscape.org

Happy drawing
Tim

[2020-04-25 07:51] DaaWaan opened #199 "Morphing between icons"
Hello, would like to request for an icon control  that supports morphing animation between icons with a support for easing functions and duration :))

[2020-05-12 08:41] LuGuangguang opened #200 "About PackIconModernKind.ConnectionQuality ICOs display error"
Hello,My studio is Using VS 2019, .NET CORE 3.1 , MahApps.Metro.IconPacks 4.0.0.0
When I  Creat PackIconModernKind.ConnectionQuality ICOs,It's  not correct.

![图片](https://user-images.githubusercontent.com/34500722/81661882-5e253980-946f-11ea-82b7-62e3259fef1f.png)

Please have a look, thank you

[2020-05-13 02:30] DaaWaan opened #201 "Not able to change PackIconControl Kind in triggers at runtime"
**Describe the bug**
I am trying to change the `Kind` of a PackIconControl when it is hovered by a mouse using `Triggers`. Unfortunately, the Control doesn't update at runtime. There is no problem however when I'm going to change the `Kind` inside the EventHandlers for the MouseOver.

**To Reproduce**
Steps to reproduce the behavior:
1. Just simply add a `Style` with `Style.Triggers` that has a tr

[2020-05-13 07:11] DaaWaan commented on #201
I didn't notice I was setting the `Kind` locally

[2020-05-13 07:11] #201 closed

[2020-05-13 07:13] punker76 commented on #201
@DaaWaan 👍  You should also derive from the base Style like

[code]

[2020-05-13 07:41] DaaWaan commented on #201
Oh right, thanks!

[2020-05-13 16:49] #181 closed

[2020-05-13 17:02] punker76 opened #202 "Material Design Icons v5.2.45"
Update Material Design Icons to v5.2.45

[2020-05-13 17:07] punker76 opened #203 "Unicons v2.1.8"
Update Unicons to v2.1.8

[2020-05-13 17:15] punker76 opened #204 "Simple Icons v2.12.0"
Update Simple Icons to v2.12.0

[2020-05-13 17:23] #204 closed

[2020-05-13 17:23] #203 closed

[2020-05-13 17:23] #202 closed

[2020-05-18 12:47] evilbaschdi opened #205 "Support of XamlHost / XamlIslands"
I played around with XamlHost a little bit.
The difference between "normal" WPF or UWP code ist that it's only possible to define the WindowsXamlHost it self and an "InitialTypeName" to be "Windows.UI.Xaml.Controls.Button" inside the xaml. All other stuff has to be done in the code behind - what is not so nice.

So I usually have had an icon next to my button caption as a content. So I added a Sta

[2020-05-18 14:25] timunie commented on #205
Hi @evilbaschdi

Can you provide a Demo App on github? That way we can have a look and maybe find a solution.

Thank you in advance

Happy coding
Tim

[2020-05-18 14:35] evilbaschdi commented on #205
https://github.com/evilbaschdi/FolderArchiver/blob/feature/xamlhost/FolderArchiver/MainWindow.xaml.cs

Method "BrowseChildChanged"

[2020-05-24 19:31] punker76 opened #206 "Material Design Icons v5.3.45"
Update Material Design Icons to v5.3.45

[2020-05-24 19:34] punker76 opened #207 "Simple Icons v2.14.0"
Update Simple Icons to v2.14.0

[2020-05-24 19:36] punker76 opened #208 "Unicons v2.1.9"
Update Unicons to v2.1.9

[2020-05-24 21:33] #208 closed

[2020-05-24 21:33] #207 closed

[2020-05-24 21:33] #206 closed

[2020-05-29 13:47] timunie commented on #205
Hi @evilbaschdi
I found a solution, at least a workaround.

[code]

The result:
![image](https://user-images.githubusercontent.com/47110241/83266867-b4aaab80-a1c3-11ea-9c53-0b7a62220907.png)

I hope this helps. Happy coding
Tim

[2020-06-19 22:23] chintal opened #209 ""Emtpy" or "None" Icon Kinds"
**Is your feature request related to a problem? Please describe.**

I'm using MahApps IconPacks (specifically, Material) in a WFP application. I bind the "Kind" attribute to code in the background to change the Icon as I need it, and this works great. However, in addition to 3-4 icons, I also want one of the states for there to be no icon. Sending in an empty string / null through the binding work

[2020-06-20 10:53] timunie commented on #209
Maybe you can also set the Foreground to `Transparent` for now (I know it is a workaround).

[2020-06-20 10:57] punker76 commented on #209
@chintal All icon packs contains already an "Empty placeholder" enum kind.

https://github.com/MahApps/MahApps.Metro.IconPacks/blob/51ad80a5ce56677560cf753f5a6a3c2636562687/src/MahApps.Metro.IconPacks/PackIconMaterialKind.cs#L20

[2020-06-21 11:52] chintal commented on #209
Exactly what I was looking for. Thank you!

[2020-06-21 11:56] #209 closed

[2020-06-27 12:07] punker76 opened #210 "Simple Icons v2.18.0"
Update Simple Icons to v2.18.0

[2020-06-27 12:59] #210 closed

[2020-07-05 20:57] punker76 opened #211 "Simple Icons v3.0.1"
Update Simple Icons to v3.0.1

[2020-07-05 21:01] #211 closed

[2020-07-05 22:27] jizc commented on #200
The problem here is that those icons are supposed to be two-toned, which is something this library currently doesn't support.

[2020-07-06 00:58] LuGuangguang commented on #200
I see,thanks a lot

[2020-07-06 00:58] #200 closed

[2020-07-28 22:49] punker76 opened #212 "Simple Icons v3.3.0"
Update Simple Icons to v3.3.0

[2020-07-28 23:09] #212 closed

[2020-07-28 23:15] punker76 opened #213 "Material Design Icons v5.4.55"
Update Material Design Icons to v5.4.55

[2020-07-28 23:30] #213 closed

[2020-07-28 23:31] punker76 opened #214 "Unicons v2.1.11"
Update Unicons to v2.1.11

[2020-07-28 23:33] #214 closed

[2020-07-29 08:31] punker76 opened #215 "Font Awesome Free v5.14.0"
Update Font Awesome Free to v5.14.0

[2020-07-29 08:32] #215 closed

[2020-08-24 05:02] Mgamerz opened #216 "Setting background to fully enclosed parts of icon to prevent trransparency"
**Is your feature request related to a problem? Please describe.**
I am using the IonIcon pack (not sure if this is specific to it or others), but I'm wondering if there is a way to 'fill' the fully enclosed transparent areas of an icon. Here's an example.

![image](https://user-images.githubusercontent.com/2738836/91005386-00d37500-e594-11ea-98ce-12e6bbe9b0d2.png)

As you can see, the middle of t

[2020-09-19 21:44] punker76 opened #217 "Material Design Icons v5.6.55"
Update Material Design Icons to v5.6.55

[2020-09-19 21:48] punker76 opened #218 "Simple Icons v3.8.0"
Update Simple Icons to v3.8.0

[2020-09-19 22:00] #218 closed

[2020-09-19 22:00] #217 closed

[2020-09-24 19:16] timunie commented on #12
Some thoughts on this
- If we use `HamburgerMenu` instead of `TabControl` we get more space
- We can use the new Space for providing a "customizing view"
- There we may set `Width`, `Height`, `Brush (via ColorPicker)` etc
- Provide different Export options

Should I work this out this `Hacktober`?

Preview: https://github.com/timunie/MahApps.Metro.IconPacks/tree/HamburgerMenuTest

Happy coding
Tim

[2020-09-24 19:44] Insire commented on #12
there is a open [PR ](https://github.com/MahApps/MahApps.Metro.IconPacks/pull/51)that you can draw inspiration from for the color picker aswell. Regarding the xaml copy feature - you can serialize xaml objects to strings.

[2020-09-28 10:56] timunie commented on #216
@Mgamerz would it be an option for you to use [Inkscape](www.inkscape.org) and use the `Icon` then from your `App.xaml`? I can provide a short sample with details if you like.

I do it that way to have two colored icons.

Happy coding
TIm

[2020-09-28 11:05] timunie opened #219 "Searching an Icon with more than one filter string"
**Is your feature request related to a problem? Please describe.**
When searching for an icon one sometimes has two words in mind, e.g. `Add` `Group`. But if you type this into the filter `TextBox`you will get no result

**Describe the solution you'd like**
The filter should accept more than one fragment. I would go for splitting the filter string at `space` and then test for all substrings.

**De

[2020-10-02 12:20] punker76 opened #221 "pixelarticons v1.2.0"
### Icon update (request)
Add **pixelarticons v1.2.0** from this [site](https://github.com/halfmage/pixelarticons)

[2020-10-02 13:12] #221 closed

[2020-10-02 13:12] punker76 opened #223 "Simple Icons v3.10.0"
### Icon update (request)
Update Simple Icons to v3.10.0

[2020-10-02 13:33] #223 closed

[2020-10-02 14:49] #219 closed

[2020-10-03 10:05] punker76 opened #225 "Create a Social card"
### Describe the request
This library hasn't a nice social card which can be used in social networks.

### Expected behavior
Upload an image with these specication:

Images should be at least 640×320px (1280×640px for best display).

![repository-open-graph-template](https://user-images.githubusercontent.com/658431/94988799-262ea800-0570-11eb-9dbc-da81829871bc.png)

### Additional note
This card s

[2020-10-03 10:13] AlexGipp commented on #225
Hey, where should i put the finished card? (can i just put it in the resources folder?)

[2020-10-03 10:15] punker76 commented on #225
@AlexGipp Yes, of course! 👍

[2020-10-03 11:22] AlexGipp commented on #225
I just opened a pr, will probaby add more cards later on.
If you have any feedback please let me know. ^^

[2020-10-03 12:06] timunie opened #227 "Add Hyperlinks to the IconPack's website"
**Is your feature request related to a problem? Please describe.**
It would be cool if there is a link to each website of the IconPack.

**Describe the solution you'd like**
Add the links and provide a Hyperlink-Button in the Browser

**Describe alternatives you've considered**
Using a search engine

**Additional context**
I'll make a proposal for a few iconPacks as a draft PR and update the other

[2020-10-03 20:50] timunie opened #230 "Idea for some improvements of the IconPack-Browser"
**Is your feature request related to a problem? Please describe.**
IMO the current implementation of the IconPacksBrowser is great, but has some limitations:
- The more IconPacks are added the more space is needed by the TabHeader. Searching for a specific IconPack gets "harder"
- The "All"-tab does not optically separate form the other tabs
- There is not much space left for new features, such as

[2020-10-05 07:21] #227 closed

[2020-10-05 17:12] #225 closed

[2020-10-12 11:15] byrialsen opened #238 "IconPacks for Uno Platform"
[Feature request]
Could be nice to be able to use IconPacks for the Uno Platform.

[2020-10-12 12:03] punker76 commented on #238
@byrialsen Sounds interesting, I'll look for this. But need some learning about Uno and how to create packages for it.

[2020-10-13 15:39] pdm19882004 commented on #238
I am creating MahApps Icon pack browser (from the browser already available in this repo) in Uno platform. I have UWP version running. If there is support for Uno, probably this application will support all the platforms ( IOS, Android, WebAssembly, UWP
and Linux).

Design will be polished based on different form factor.
![1](https://user-images.githubusercontent.com/20983283/95883222-4f351100-0d9

[2020-10-13 15:45] punker76 commented on #238
@pdm19882004 Can you point me to the repo? It would be nice to see the code. 👍

[2020-10-13 15:45] pdm19882004 commented on #238
I am currently Uploading it and will post the repo link here.

Thanks

[2020-10-13 16:09] pdm19882004 commented on #238
https://github.com/pdm19882004/MahAppIcons

(First commit in Github. Sorry if made any mistakes and I hope my Naming of project is not the problem like taking credit of this Project or something)

[2020-10-13 16:48] pdm19882004 commented on #230
I am working on a similar project.
https://github.com/MahApps/MahApps.Metro.IconPacks/issues/238#issuecomment-707828444

[2020-10-14 13:55] timunie commented on #238
Hi @ParthMandalia

The idea is great and your first draft is IMO beautiful. But there is more to consider, so for now we want to stick with the current design. Nevertheless we can discuss yours when the uno support is implemented. :-)

Please do us (and you) a favour: Instead of creating your own repo for it and copy / paste all the stuff there, fork this repo and create a new branch for your idea

[2020-10-24 17:03] ParthMandalia commented on #238
I was able to partially build Uno class library for this project. I have only used one icon pack (BoxIcon) to test the project as of now. Since there are many projects to build (15 projects {3 projects with Android, UWP, WASM, IOS, Mac each}), there is a randomly generated bug ([Uno.SourceGenerationTasks.targets](https://github.com/unoplatform/uno/issues/1192)) in any one of the project and entire

[2020-10-25 11:22] timunie opened #245 "Add Name to IconPack-MetaData"
**Is your feature request related to a problem? Please describe.**
I like the idea of using Meta-Data. If we add the Name-Property here it would make changes to the IconPackBrowser easier.

**Describe the solution you'd like**
Add Name-Property

**Describe alternatives you've considered**
Leaving it as it is now

**Additional context**
See #231

[2020-10-25 16:34] #245 closed

[2020-11-01 14:22] mady005 opened #251 "Icon not visible in designer"
as the title says the icon is not visible in the designer view but visible when I run the app

[2020-11-01 14:29] punker76 commented on #251
@mady005 Which icon?

[2020-11-01 14:31] mady005 commented on #251
any kind.
<iconPacks:PackIconFeatherIcons
                                                                        HorizontalAlignment="Center"
                                                                        VerticalAlignment="Center" Kind="Search"
                                                                        Height="16" Margin="3,7,200,7"

[2020-11-01 14:33] punker76 commented on #251
@mady005 Which IconPacks version? Please provide also a full sample. Thx

[2020-11-01 14:39] mady005 commented on #251
I'm using the latest version 4.8.0
https://prnt.sc/vb7vrd
I tried closing and reopening the designer but it's still not visible

[2020-11-01 14:42] punker76 commented on #251
@mady005 Must be something different...

![image](https://user-images.githubusercontent.com/658431/97805844-c7d11400-1c58-11eb-9a29-a26e858d0abd.png)

[2020-11-01 14:43] punker76 commented on #251
@mady005 Wrong Background?

[2020-11-01 14:49] mady005 commented on #251
could be I don't know what's wrong I tried changing the background but no luck

[2020-11-01 14:50] mady005 commented on #251
Main window

Title="test" AllowsTransparency="True"
        Height="800"
        Width="1200"
        WindowStyle="None"
        WindowStartupLocation="CenterScreen"
        Background="{x:Null}"
        MouseDown="Window_MouseDown"
        Opacity="0.99"

    <Border Background="White">
            <iconPacks:PackIconFeatherIcons

[2020-11-01 14:51] mady005 commented on #251
<Grid>
        <Border Background="White">
            <iconPacks:PackIconFeatherIcons
                                                                        HorizontalAlignment="Center"
                                                                        VerticalAlignment="Center" Kind="Search"
                                                                        Height="16" Margin="61,8,11

[2020-11-01 14:52] punker76 commented on #251
@mady005 Your Background and Forground set to White!

[2020-11-01 14:52] #251 closed

[2020-11-01 14:53] mady005 commented on #251
yes but i created that test app it's still the same in my main

[2020-11-01 14:54] mady005 commented on #251
my main app border is style is dynamic https://prnt.sc/vb8489 which is set to color https://prnt.sc/vb84fc

[2020-11-01 14:56] mady005 commented on #251
https://prnt.sc/vb85o6 https://prnt.sc/vb85s2

[2020-11-01 14:56] punker76 commented on #251
@mady005 Then set the Foreground of the iconPacks:PackIconFeatherIcons to White, or something different to the Background.

[2020-11-01 14:58] punker76 commented on #251
@mady005 Seems like a bug with the VS designer. Which VS version is this?

[2020-11-01 15:03] mady005 commented on #251
It's 2019 not sure about the exact version, I'm updating it now

[2020-11-01 18:18] mady005 commented on #251
The issue is solved after updating the VS

[2020-11-19 12:45] wbokkers opened #252 "IconPacks for WinUI (both Desktop and UWP)"
With the latest WinUI 3 preview 3, I get the following error on compiling with MahApps.Metro.IconPacks.Material installed:
NETSDK1082
There was no runtime pack for Microsoft.WindowsDesktop.App.WPF available for the specified RuntimeIdentifier 'win10-arm64'.	Xelion

Any change of supporting WinUI in the future?

[2020-11-19 12:49] wbokkers commented on #252
Removing the arm runtime works. Is targeting arm on the roadmap?

[2020-11-19 12:53] punker76 commented on #252
@wbokkers I've never expected that this would be running with WinUI 3, but nice to hear that it works. I must look into the whole WinUI 3 stuff to understand how it could be run with arm support.

[2020-11-19 13:00] wbokkers commented on #252
@punker76 I was a bit too optimistic. I can compile and use PackIconMaterial in XAML, but unfortunately the icon is not displayed. Instead the type name is displayed.

[2020-11-23 11:31] wbokkers commented on #252
The main change needed is renaming the namespaces Windows.UI.Xaml to Microsoft.UI.Xaml and find the compilation constant that's being used for WinUI.

[2020-11-25 19:12] FCUnlimited commented on #156
Hi,

I've got exactly the same bug now.
VS 2019
Iconpacks.Evaicons 4.8.0

[2020-11-25 19:21] punker76 commented on #156
@FCUnlimited Please post the code how you use the control. This helps to understand what’s going wrong. If yo do this the please create a new issue. The optimal way is to create a sample app which shows this issue. Thx

[2020-11-25 20:08] FCUnlimited commented on #156
Just finished the new issue then I saw the problem....it was me
I was using: `<iconPacks:EvaIcons Kind="{Binding Icon}" />`
and not: `<iconPacks:PackIconEvaIcons Kind="{Binding Icon}" />`

Sorry for wasting your time :(
And thanks for your work!

[2020-11-25 20:14] punker76 commented on #156
@FCUnlimited Oh yes, the first one is the MarkupExtension which doesn't allow binding for the properties. Thx

[2020-11-30 23:53] Pablokiryu commented on #22
Also Solved it for me.
I was Running VS Community 2019 V. 16.3.10 and MahApps.Metro.1.6.5 and MahApps.Metro.IconPacks.2.3.0
Thank you very much

[2020-12-15 06:57] gnimor opened #253 "Icon not shown in designer"
I am using the Mahapps iconpack in my application. I have the following code in XAML:

                <Button Width="Auto" Height="70"
                        HorizontalAlignment="Center" VerticalAlignment="Center"
                        Command="{Binding LoadCommand}" IsEnabled="{Binding CanLoad}"
                        Name="loadUnitBtn" Padding="20,1">

                    <StackPanel Orient

[2020-12-15 17:20] timunie commented on #253
Hi @gnimor

please try to enable one of these buttons:
![image](https://user-images.githubusercontent.com/47110241/102248882-01f12f00-3f02-11eb-8dd9-0872abb14c6a.png)

Sometimes the visual studio designer is buggy for custom controls, but there is not much we can do about it 😒 .

Happy coding
Tim

[2021-01-24 19:40] ParthMandalia commented on #238
I was able to successfully compile the MahAppsIcons UNO class library locally (without github). And trying to link the project with my develop branch.

[2021-02-04 00:52] bluebright commented on #253
Hi @gnimor
How about set solution platform to "Any CPU" temporary?
When I changed from "x64" to "Any CPU", the icon was visible. in "visual studio 2017" 15.9.30.

### Case "x64"
![Case x64](https://user-images.githubusercontent.com/12007202/106828943-86745880-66ce-11eb-9a23-9aed05053442.PNG)

### Case "Any CPU"
![Case any cpu](https://user-images.githubusercontent.com/12007202/106828949-8a07df80-6

[2021-02-09 13:42] jizc opened #254 "Add Fluent UI System Icons"
**Icon update (request)**
Add Fluent UI System Icons from this [site](https://github.com/microsoft/fluentui-system-icons)

[2021-03-28 09:08] Insire opened #255 "Add icons from https://tabler-icons.io"
**Is your feature request related to a problem? Please describe.**
no.

**Describe the solution you'd like**
A new icon pack to be added, that includes the icons from https://tabler-icons.io/

**Describe alternatives you've considered**
none really, just think that the icons are neat.

**Additional context**
-

[2021-04-02 15:41] GF-Huang opened #256 "How to convert a PackIconMarkup to a Geometry object?"
C# Code or XAML is fine.

[2021-04-03 16:29] timunie commented on #256
Hi @GF-Huang

I have a PR open which provides an export button to the browser. It is not merged yet but feel free to clone my branch and build the browser on your own. See:
- #232 for the PR
- https://github.com/timunie/MahApps.Metro.IconPacks/tree/HamburgerMenuProposal for the branch to build
- https://github.com/MahApps/MahApps.Metro.IconPacks/wiki/How-to-build-the-solution for how to build the

[2021-04-03 16:53] GF-Huang commented on #256
I had write a custom `MarkupExtension` to do this, I hope this will be add into this repo.

[code]

Usage:
[code]

[2021-04-05 09:39] timunie commented on #256
@GF-Huang tbh at the moment I don't see a good usecase for this. Not all Icons are build the same way, so you would need to take care of this. Some geometries are mirrored, others are outline only, others are filled, etc. So just rutrning the path data may lead to wrong appearance.

Moreover I don't see the the benefit right now. Maybe you can share a sample App via github repro where we can have

[2021-04-05 14:45] GF-Huang commented on #256
Actually I'm using the attach property `Iconelement.Geometry` from `HandyControl`, but just to make my suggestion a little bit simpler, I'll just say `MyButton`. Maybe I replace the `<Path x:Name="PathMain" ... /> to something PackIcon will be better?

reference:
- [HandyControl](https://github.com/HandyOrg/HandyControl)
- [<Style x:Key="ButtonBaseStyle" BasedOn="{StaticResource ButtonBaseBaseStyl

[2021-04-06 07:36] timunie commented on #256
Hi @GF-Huang

what do you think about this?
![image](https://user-images.githubusercontent.com/47110241/113674407-73740980-96ba-11eb-9534-8a27c7a015d4.png)

[code]

I know this will lead to some work on your side, but I think this is way more flexible. You can then have any object as Icon, even Images or other controls. Moreover the Icon can change based on buttons content. Your Geometry can also

[2021-06-23 06:19] Mager66 opened #259 "Could not load file or assembly"
Hi,
in need of some help.
I have made a plugin for AutoCAD/BricsCAD that runs well in VS debug but when starting from application I get this message.
![image](https://user-images.githubusercontent.com/42371528/123045322-0e979800-d3fb-11eb-9df0-943cf8ac8c13.png)

I have tried different things like this with no success:
 public EPCB000ConvertDialog(EPCB000ConverterViewModel vm)
        {
#pragma war

[2021-06-29 09:44] punker76 commented on #259
@Mager66 Make sure that all assemblies from the NuGet library are at the running folder where your assembly will be started.

[2021-07-08 06:17] Mager66 commented on #259
@punker76 Hi and many thanks for your reply.
I did manage to see in procmon what was going on and this issue is now resolved.
Wish you a wonderful sommer!

[2021-07-08 06:17] #259 closed

[2021-08-11 06:48] jtorjo opened #260 "Draw icons using win2d"
**Is your feature request related to a problem? Please describe.**

First of all, you rock! Been using this for close to 2 years now 😁

I'd like to be able to print the icons usin win2d. Win2d has a way to also create a Path, which I can then draw on the screen. Each of the icons has a `Path` conterpart (like, `PathIconMaterial`), so I assume it would be possible to create a win2d path for each.

[2021-08-11 10:55] timunie commented on #260
Hi @jtorjo

let me give you a few answers, even if I am not the owner of this package:

Yes, I think this is possible, At least I think you can copy the path data from the browser and paste it manually into your App.

No, as this is a free time project, work is done when work is done.

It is open source, so clone yourself the source, create a new branch and see what's going on. Here you find a few

[2021-08-12 02:37] jtorjo commented on #260
Yeah, basically if that is somehow available, indeed, I should be able to figure it out. Thanks!

[2021-08-12 02:37] #260 closed

[2021-08-12 03:17] jtorjo opened #261 "bug: bound icons in an ItemsControl are shown incorrectly. Error appeared on 4.4.0 (it did work correctly on 4.3.0)"
**Describe the bug**

I have a rather complex app, and at some point I have an array of controls, and each control has an array of `PackIconMaterial` bound icons. The culprit code is this (once again, this works perfectly in 4.3.0):

	<ItemsControl ItemsSource="{Binding combo_icons}" VerticalAlignment="Center"
				  binding:vc_dep.Visible="{Binding meta.is_combo_icons}"
				  HorizontalAlignment="

[2021-08-12 07:38] timunie commented on #261
Hi @jtorjo

do you think you can manage to create a very short sample App which shows the issue? I think maybe there is something in the Binding going on. Maybe the Kind name changed or something like this?

Thank you and happy coding
Tim

[2021-08-15 04:30] jtorjo commented on #261
Hi @timunie
Will take a look one next week, and I'll get back to you!
Best,
John

[2021-09-10 09:16] #12 closed

[2021-09-10 09:16] #57 closed

[2021-09-10 09:16] #230 closed

[2021-11-01 19:08] tinmac commented on #252
@wbokkers did you ever get IconPacks working on Winui in Desktop, or is it a non starter @punker76 ?

[2021-11-21 10:00] ghost opened #285 ""MahApps.Metro.IconPacks.Core" Nuget-Package"
**Is your feature request related to a problem? Please describe.**

Not really a problem. I would just like to write my own extension. Something like "MahApps.Metro.IconPacks.BlaBlaBlaIcons" which contains all my icons I use over and over again. But unfortunately that's not really possible at the moment without landing some other icon pack with it :(

**Describe the solution you'd like**

I would

[2021-11-26 20:22] punker76 opened #286 "Drop .NET Framework 4.5.2 and 4.6 which will reach End of Support on April 26, 2022"
## Describe the feature

Would it make sense to stop supporting .Net 4.5.2 and 4.6 right now? After all, the end date is April 2022.

## Additional context

https://devblogs.microsoft.com/dotnet/net-framework-4-5-2-4-6-4-6-1-will-reach-end-of-support-on-april-26-2022/#closing

[2022-01-05 15:15] dvdgnz commented on #259
Hi @Mager66, I have a similar issue. How did you end up resolving it?

[2022-01-12 13:50] AlonAm opened #287 "Question: how to convert to System.Drawing.Icon?"
Hi
Is there a way to convert an icon to System.Drawing.Icon at runtime?
Thank you!

[2022-01-14 16:42] Unknown6656 opened #290 "Include the Microsoft Windows11 explorer icons"
Is it possible to include the icons from the new Microsoft Windows11 explorer menu?
![image](https://user-images.githubusercontent.com/8807985/149552317-727a4d13-7c86-4116-aa70-6241e091c2f4.png)

They are located in `C:\Windows\SystemApps\MicrosoftWindows.Client.CBS_cw5n1h2txyewy\FileExplorerExtensions\Assets\images\....`

[2022-02-04 11:48] ChGrand591 opened #291 "iconPacks:PackIconSimpleIcons"
Hello

I am using wpf with powershell.

by example like this
https://github.com/damienvanrobaeys/MahApps_2.0_PS1_Theme_Manager

I have a program that works with an icon pack
for example
<iconPacks:PackIconOcticons Kind="Paintcan" Margin="0,5,0,0" ToolTip="Change the main theme of the tool"/>

but if I change to

  <iconPacks:PackIconSimpleIcons Kind="Symantec" /> this no longer works.

thanks

[2022-04-04 15:05] MarkIvanDev opened #292 "UWP Crashes at Startup when built in Release mode when using some Icon Packs"
**Describe the bug**
When building a UWP app in release mode, the application crashes at startup due to a StackOverflow exception. Building using debug mode does not result to a crash for ALL icons. This only happens with the following Icon Packs:

- Jam Icons
- Material
- Material Design
- Modern
- PICOL Icons
- Pixelart Icons
- Radix Icons
- Remix Icon
- RPG Awesome
- Simple Icons
- Typicons
- U

[2022-04-06 07:34] kunalguptaxd opened #293 "Could not load file or assembly 'MahApps.Metro.IconPacks.FontAwesome, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0c0d510f9915137a' or one of its dependencies. The system cannot find the file specified."
Could not load file or assembly 'MahApps.Metro.IconPacks.FontAwesome, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0c0d510f9915137a' or one of its dependencies. The system cannot find the file specified.

[2022-04-28 03:48] jstevenson72 opened #294 "VS2022 WPF Designer Crashes Most Times with Icons"
Visual Studio 2022 WPF Designer fails to load, if I have included either Modern or Codicons in my UI.  With this error:

[code]

I have the latest 4.11 NuGet Package with all Icon Packs installed in my solution.  Importing this namespace:
[code]
And using the icons in this way:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the complete NuGet Package
2. Add an Icon to a WPF 4.8 p

[2022-04-28 08:45] jizc opened #295 "Material Design Icons v7.0.96"
**Icon update (request)**
Update Material Design Icons to v7.0.96

[2022-04-28 13:19] jizc commented on #293
This error should disappear as soon as you build your project after adding the NuGet package reference.

[2022-05-11 05:39] dojo90 commented on #252
+1 👍

[2022-06-22 11:09] jizc opened #296 "Publish icon file generators for use in PRs"
### Is your feature request related to a problem? Please describe.
It's been 8 months since the last icon update was committed to this repo. In the case of Material Design icons, 400 icons has been added to the collection since then.

### Describe the solution you'd like
I would like the ability to generate the `PackIcon*DataFactory.cs` and `PackIcon*Kind.cs` files for existing icon packs. This wo

[2022-07-23 13:07] Keiishu commented on #293
Worked for me. I added the solution in the wiki.

[2022-09-01 22:42] #296 closed

[2022-09-02 04:51] punker76 commented on #296
@jizc Sorry for that. I will update the icons as soon as possible! I will not publish the converter, because the code is too hacky and some of the icons need hand actions to get it work. I hooe you understand that. 🤘

[2022-09-02 06:30] jizc commented on #296
I understand 🙂 I ended up writing my own generator to make use of a more optimized fork of the Material icons collection.

[2022-09-11 21:31] #286 closed

[2022-09-11 21:52] #295 closed

[2022-09-12 11:21] punker76 commented on #291
It looks like there are a few dlls missing.

You need (if you use the main IconPacks NuGet):

- MahApps.Metro.IconPacks.dll
- MahApps.Metro.IconPacks.Core.dll
- MahApps.Metro.IconPacks.Octicons.dll (if you use Octicons)
- MahApps.Metro.IconPacks.SimpleIcons.dll (if you use SimpleIcons)
- and so on

[2022-09-12 11:21] #291 closed

[2022-09-12 12:27] punker76 commented on #294
@jstevenson72 Idk what's really going on here. Maybe it's the `ButtonWindowControl`?

I created an app with .NET 4.8 and added your Button without the `ButtonWindowControl` and the designer seems to work as expected.

Microsoft Visual Studio Enterprise 2022 (64-bit) - Current
Version 17.3.1

![image](https://user-images.githubusercontent.com/658431/189652797-652f7574-4bde-4002-9528-ac67f87f91ae.pn

[2022-09-12 12:28] #293 closed

[2022-09-12 12:28] seb30 commented on #294
Updating to 17.3.3 helped in my case (or was it 17.3.2?). The designer is now usable.

[2022-09-12 12:54] jstevenson72 commented on #294
I'm on 17.3.2 now and the problem is no longer happening.  I assume MS screwed up the Designer for a while.

[2022-09-12 12:54] #294 closed

[2022-09-12 13:03] #261 closed

[2022-09-12 13:32] #256 closed

[2022-09-12 18:46] punker76 commented on #253
I'm aware of Visual Studio Designer bugs but will not look for it, except it's really a bug inside this lib.

[2022-09-12 18:46] #253 closed

[2022-09-13 10:14] punker76 opened #303 "Drop the UWP support"
**Describe the bug**

Creating the UWP is not the problem, the problem is to create correct and usable NuGet packages... 🙄

I will drop the support in the next version (6.0).

But I will try to create a new separate repository (or again here) for UWP and maybe WinUI too.

If anyone want to help me to create this with he new Sdk and .Net 9 then let me know :-D

[2022-09-13 10:16] punker76 commented on #292
@MarkIvanDev Idk exactly why this happens. I can see that the XamlTypeInfo for Debug is different to Release but Idk why...

[2022-09-22 09:16] punker76 commented on #292
@MarkIvanDev If I disable "Compile with .NET Native tool chain" the app runs fine. That's the reason why I'm hate UWP!

![image](https://user-images.githubusercontent.com/658431/191708319-73b49537-8250-4dab-a700-43212efbbd84.png)

[2022-09-28 01:13] MarkIvanDev commented on #292
Yes. It only runs when compiling with .NET Native toolchain. I have also checked what is different with the icons with bugs from the ones that work correctly, and nothing stands out that might cause the problem. Although, I have read somewhere that there is a limit to the length of a string in a library. Maybe it is having problems with the massive icon data for those icon packs?

[2022-09-28 18:12] punker76 commented on #292
@MarkIvanDev

But it's working on WPF. You can see it in action with the [IconPacks browser](https://github.com/MahApps/IconPacks.Browser).

[2022-09-29 01:07] MarkIvanDev commented on #292
@punker76

Yes. Maybe the string limitation is only enforced in .NET Native? Or .NET Native has a problem with a large number of static strings? I have tried creating a new package for UWP with the problematic icon packs using the same path data, but it still triggers the error stated above. But when I put the data inside a sqlite database and read from that, the error does not show and it compile

[2022-10-03 07:39] MarkIvanDev commented on #292
If the source generators will only generate the same classes with the same static strings as data, I don't think it will make a difference. But I think if the path data will be put in resource files (.resx), I think we can work around the static string length limitation

[2022-10-03 08:06] timunie commented on #292
No, the idea was to generate the PathGeometry directly.

[2022-10-03 08:13] punker76 commented on #292
@timunie Generating the path data directly is not possible, because of the different source of the icons. That’s why I didn’t publish my converter.

@MarkIvanDev I will try and look if the resx can help here.

[2022-10-03 09:25] MarkIvanDev commented on #292
If there is anything I can help with, I'd love to.

[2022-11-05 12:26] Diegorro98 commented on #252
+1 too
Any news?